.main-blogs .parlevel1-content{
	@include mq(md){
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
	@include mq(lg){
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
}
.blog-list{
	position: relative;
	margin: 0;
	padding: 0;
	width: 90vw;
	margin-left: 5vw;
	box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.1);
	@include mq(sm){margin-left: 10vw;width: 80vw;}
	@include mq(md){margin-top: 0vw;margin-left: 0;width: 40vw;}
	@include mq(lg){margin-top: 0vw;margin-left: 0;width: 35vw;}
	.blog-list__item{
		cursor: pointer;
		position: relative;
		width: 100%;
		height: 25vw;
		box-sizing: border-box;
		background-color: #fefefe;
		border-bottom: dashed .5px rgba(0,0,0,0.4);
		@include mq(sm){height: 20vw;}
		@include mq(md){height: 10vw;}
		@include mq(lg){height: 8vw;}
		&:last-of-type{border: none;}
		a{
			display:block;width:100%;height:100%;
			position:absolute;top:0;left:0;
			z-index: 3000;
			&:hover{
				background-color: rgba(0,0,0,0.1);
			}
		}
		.blog-list__item-date{
			position: absolute;
			margin: 0;
			top: 0;
			left: 0;
			width: 70%;
			box-sizing: border-box;
			padding-left: 5vw;
			font-size: 3vw;
			line-height: 3;
			@include mq(sm){
				padding-left: 4vw;
				font-size: 2.5vw;
				line-height: 3;
			}
			@include mq(md){
				padding-left: 1.5vw;
				font-size: 1.2vw;
				line-height: 2.5;
			}
			@include mq(lg){
				padding-left: 1.2vw;
				font-size: 1vw;
				line-height: 2;
			}
		}
		.blog-list__item-title{
			margin: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% - 25vw);
			box-sizing: border-box;
			padding-top: 10vw;
			padding-left: 5vw;
			line-height: 1;
			font-size: 5vw;
			font-weight: normal;
			@include mq(sm){
				width: calc(100% - 20vw);
				padding-top: 8vw;
				padding-left: 4vw;
				line-height: 1;
				font-size: 4vw;
			}
			@include mq(md){
				width: calc(100% - 10vw);
				padding-top: 4vw;
				padding-left: 1.5vw;
				line-height: 1;
				font-size: 2vw;
			}
			@include mq(lg){
				width: calc(80% - 8vw);
				padding-top: 3.2vw;
				padding-left: 1.2vw;
				line-height: .8;
				font-size: 1.6vw;
			}
		}
		.blog-list__item-img{
			position: absolute;
			width: 25vw;
			height: 100%;
			top: 0;
			right: 0vw;
			@include mq(sm){width: 20vw;}
			@include mq(md){width: 10vw;}
			@include mq(lg){width: 8vw;}
			img{
				position: absolute;
				width: 80%;
				height: 80%;
				top: 10%;
				left: 10%;
			}
		}
	}
}

.main-blog-content{
	.parlevel2-headline-single{
		margin-top: 0;
	}
	.parlevel2-content{
		box-sizing: border-box;
		padding-left: 3vw;
		padding-right: 3vw;
		border-left: solid 1px $baseColor;
		border-right: solid 1px $baseColor;
		@include mq(md){padding-left: 1.5vw;padding-right: 1.5vw;}
		@include mq(lg){padding-left: 0;padding-right: 0;}
		.parlevel2-text{
			width: 100%;
		}
	}
	.back-to-top-blog{
		width: 100%;
		text-align: center;
		margin-left: 0;
		font-size: 3.5vw;
		margin-top: 10vw;
		@include mq(sm){
			font-size: 3vw;
			margin-top: 8vw;
		}
		@include mq(md){
			font-size: 1.5vw;
			margin-top: 3vw;
		}
		@include mq(lg){
			font-size: 1.1vw;
			margin-top: 2vw;
		}
	}
}