.main-blogs .parlevel1-content{
	@include mq(md){
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
	@include mq(lg){
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
}
.blog-list{
	position: relative;
	margin: 0;
	padding: 0;
	width: 90vw;
	margin-top: 5vw;
	margin-left: 5vw;
	box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.1);
	@include mq(sm){margin-left: 10vw;width: 80vw;}
	@include mq(md){margin-top: 1vw;margin-left: 0;width: 40vw;}
	@include mq(lg){margin-top: 1vw;margin-left: 0;width: 35vw;}
	.blog-list__item{
		cursor: pointer;
		position: relative;
		width: 100%;
		height: 25vw;
		box-sizing: border-box;
		background-color: #fefefe;
		border-bottom: dashed .5px rgba(0,0,0,0.4);
		@include mq(sm){height: 20vw;}
		@include mq(md){height: 10vw;}
		@include mq(lg){height: 8vw;}
		&:last-of-type{border: none;}
		a{
			display:block;width:100%;height:100%;
			position:absolute;top:0;left:0;
			z-index: 3000;
			&:hover{
				background-color: rgba(0,0,0,0.1);
			}
		}
		.blog-list__item-date{
			position: absolute;
			margin: 0;
			top: 0;
			left: 0;
			width: 70%;
			box-sizing: border-box;
			padding-top: 1vw;
			padding-left: 5vw;
			font-size: 3vw;
			line-height: 2;
			@include mq(sm){
				padding-left: 4vw;
				font-size: 2vw;
				line-height: 2;
			}
			@include mq(md){
				padding-left: 1.5vw;
				font-size: 1.2vw;
				line-height: 1;
			}
			@include mq(lg){
				padding-left: 1.2vw;
				font-size: 1vw;
				line-height: 1;
			}
		}
		.blog-list__item-tag{
			position: absolute;
			margin: 0;
			top: 4.5vw;
			left: -1.5vw;
			width: 70%;
			box-sizing: border-box;
			padding-left: 5vw;
			padding-top: 1vw;
			font-size: 3vw;
			line-height: 2;
			@include mq(sm){
				top: 2vw;
				padding-left: 4vw;
				font-size: 2.5vw;
				line-height: 3;
			}
			@include mq(md){
				top: 1vw;
				padding-left: 2vw;
				font-size: 1.2vw;
				line-height: 2.5;
			}
			@include mq(lg){
				top: 1vw;
				padding-left: 2vw;
				font-size: 1vw;
				line-height: 2.5;
			}
		}
		.blog-list__item-title{
			margin: 0;
			position: absolute;
			top: 10vw;
			left: 0;
			width: calc(100% - 25vw);
			box-sizing: border-box;
			padding-top: 2vw;
			padding-left: 5vw;
			line-height: 1;
			font-size: 4.5vw;
			font-weight: normal;
			@include mq(sm){
				width: calc(100% - 20vw);
				padding-top: 0;
				padding-left: 4vw;
				line-height: 1;
				font-size: 4vw;
			}
			@include mq(md){
				top: 0;
				width: calc(100% - 10vw);
				padding-top: 5vw;
				padding-left: 1.5vw;
				line-height: 1;
				font-size: 2vw;
			}
			@include mq(lg){
				top: 0vw;
				width: calc(80% - 8vw);
				padding-top: 4.5vw;
				padding-left: 1.2vw;
				line-height: .8;
				font-size: 1.4vw;
			}
		}
		.blog-list__item-img{
			position: absolute;
			width: 25vw;
			height: 100%;
			top: 0;
			right: 0vw;
			@include mq(sm){width: 20vw;}
			@include mq(md){width: 10vw;}
			@include mq(lg){width: 8vw;}
			img{
				position: absolute;
				width: 80%;
				height: 80%;
				top: 10%;
				left: 10%;
			}
		}
	}
}

.main-blog-content{
	.parlevel2-headline-single{
		margin-top: 0;
	}
	.parlevel2-content{
		box-sizing: border-box;
		padding-left: 3vw;
		padding-right: 3vw;
		border-left: solid 1px $baseColor;
		border-right: solid 1px $baseColor;
		@include mq(md){padding-left: 1.5vw;padding-right: 1.5vw;}
		@include mq(lg){padding-left: 0;padding-right: 0;}
		.parlevel2-text{
			width: 100%;
		}
	}
	.blog-tag-name{
		font-size: 4vw;
		margin-left: 5vw;
		margin-bottom: 5vw;
		@include mq(sm){font-size: 3.5vw;}
		@include mq(md){
			margin-left: 5%;
			font-size: 1.5vw;
			margin-bottom: 2vw;
		}
		@include mq(lg){
			margin-left: 5%;
			font-size: 1.2vw;
			margin-bottom: 1vw;
		}
	}
	.blog-strong{
		color: $baseColor;
		font-weight: bold;
	}
	.blog-parlevel1-headline{
		display: block;
		position: relative;
		width: 100%;
		text-align: center;
		margin: 0 auto 10vw;
		line-height: 1.2;
		font-size: 6vw;
		@include mq(sm){
			margin: 0 auto 5vw;
			line-height: 1;
			font-size: 6vw;
		}
		@include mq(md){
			margin: 0 auto 3vw;
			line-height: 1;
			font-size: 2.73vw;
		}
		@include mq(lg){
			margin: 0 auto 3vw;
			line-height: 1;
			font-size: 2.73vw;
		}
	}
	.blog-parlevel1-content{
		position: relative;
		margin-bottom: 5vw;
		.blog-img{
			width: 90vw;
			margin: 5vw auto;
			img{width: 100%;}
			@include mq(md){
				width: 40%;
				margin: 2vw 30% 2vw 30%;
			}
			@include mq(lg){
				width: 40%;
				margin: 2vw 30% 2vw 30%;
			}
		}
		.blog-section-line{
			width: 90%;
			margin: 7.5vw 5% 7.5vw;
			height: 0;
			border-top: dashed 2px $baseColor;
			@include mq(md){
				margin: 3vw 5% 3vw;
			}
		}
		.blog-parlevel1-text{
			width: 90%;
			margin-top: 0;
			margin-bottom: 5vw;
			margin-left: 5%;
			line-height: 1.8;
			font-size: 4vw;
			@include mq(sm){
				margin-bottom: 1.5vw;
				font-size: 3vw;
			}
			@include mq(md){
				margin-bottom: .25vw;
				font-size: 1.2vw;
				line-height: 1.5;
			}
			@include mq(lg){
				margin-bottom: .25vw;
				font-size: 1.1vw;
				line-height: 1.5;
			}
		}
	}
	
	
	.blog-parlevel2-headline,.parlevel2-headline-single{
		position: relative;
		width: 90vw;
		margin: 7vw 5vw 0;
		padding-left: 6.5vw;
		box-sizing: border-box;
		font-size: 4.5vw;
		line-height: 1.75;
		border-bottom: dashed 2px $baseColor;
		@include mq(sm){
			margin: 7vw 0 0 5%;
			padding-left: 6vw;
			font-size: 3.5vw;
		}
		@include mq(md){
			width: 90%;
			margin: 3.5vw 0 0 5%;
			padding-left: 3.25vw;
			box-sizing: border-box;
			font-size: 1.75vw;
			line-height: 1.5;
		}
		@include mq(lg){
			width: 90%;
			margin: 3vw 0 0 5%;
			padding-left: 2.5vw;
			box-sizing: border-box;
			font-size: 1.5vw;
			line-height: 1.5;
		}
		&::before{
			content: "";
			display: inline-block;
			position: absolute;
			width: 4vw;
			height: 4vw;
			top: 1.9vw;
			left: 1vw;
			background-size: cover;
			background-image: url(../img/dice.svg);
			@include mq(sm){
				width: 3.5vw;
				height: 3.5vw;
				top: 1.5vw;
				left: 1vw;
			}
			@include mq(md){
				width: 1.75vw;
				height: 1.75vw;
				top: .45vw;
				left: .8vw;
			}
			@include mq(lg){
				width: 1.25vw;
				height: 1.25vw;
				top: .55vw;
				left: .65vw;
			}
		}
	}
	.blog-parlevel2-content{
		position: relative;
		margin: 3vw 5vw 0;
		width: 90vw;
		@include mq(sm){margin: 3vw 5vw 0;}
		@include mq(md){width: 90%; margin: 1.5vw 5% 0;}
		@include mq(lg){width: 90%; margin: 1.25vw 5% 0;}
		.blog-parlevel2-text{
			position: relative;
			width: 100%;
			font-size: 3.6vw;
			box-sizing: border-box;
			line-height: 1.8;
			margin: 1.5vw 0 0;
			@include mq(sm){
				margin: 1vw 0 0;
				font-size: 2.5vw;
				line-height: 1.7;
			}
			@include mq(md){
				width: 90%;
				margin: .75vw 0 0;
				font-size: 1.2vw;
				line-height: 1.75;
				padding-left: 0 2vw 0;
			}
			@include mq(lg){
				width: 90%;
				margin: 1vw 0 0;
				font-size: 1vw;
				line-height: 1.25;
				padding: 0 1.5vw ;
			}
			.is-lightened{
				background: linear-gradient(transparent 70%, lighten($baseColor,30%) 70%);
			}
		}
	}
	
	
	.blog-parlevel3-headline{
		display: inline-block;
		border-bottom: 2px solid $baseColor;
		position: relative;
		margin: 3vw 0 0;
		font-size: 4vw;
		font-weight: normal;
		@include mq(sm){
			margin: 2.5vw 1vw 0;
			font-size: 3vw;
		}
		@include mq(md){
			margin: 1.5vw 1vw 0;
			font-size: 1.4vw;
		}
		@include mq(lg){
			margin: 1.5vw 1vw 0;
			font-size: 1.2vw;
		}
	}
	.blog-parlevel3-content{
		width: calc(100% - 4vw);
		margin: .5vw 4vw 0;
		ul{
			font-size: 3.34vw;
			margin-top: 1.5vw;
			padding: 0vw;
			li{padding-left:3.34vw;line-height: 1.75;&::before{content:"・"}}
		}
		@include mq(sm){
			width: calc(100% - 4vw);
			margin: .5vw 4vw 0;
			ul{
				font-size: 2.5vw;
				margin-top: 0vw;
				li{padding-left: 2.5vw;line-height: 1.75;&::before{content:"・"}}
			}
		}
		@include mq(md){
			width: calc(100% - 2.4vw);
			margin: .5vw 0 0 2.4vw;
			font-size: 1vw;
			ul{
				font-size: 1.1vw;
				margin-top: 1vw;
				margin-left: 0;
				padding: 0;
				li{padding-left: 1.1vw;line-height: 2;&::before{content:"・"}}
			}
		}
		@include mq(lg){
			width: 100%;
			margin: .5vw 0 0 2.4vw;
			font-size: 1vw;
			ul{
				font-size: 1.1vw;
				margin-top: .5vw;
				margin-left: 0;
				li{padding-left: 1.1vw;line-height: 2;&::before{content:"・"}}
			}
		}
		.blog-parlevel3-text{
			width: 100%;
			position: relative;
			margin: 0;
			@include mq{
				font-size: 3.6vw;
				line-height: 1.75;
			}
			@include mq(sm){
				font-size: 2.75vw;
				line-height: 1.75;
			}
			@include mq(md){
				font-size: 1.2vw;
				line-height: 1.3;
			}
			@include mq(lg){
				font-size: 1.1vw;
				line-height: 1.3;
			}
		}
	
	}
	.blog-prev,.blog-next{
		width: 90%;
		font-size: 3.5vw;
		margin-top: 5vw;
		margin-left: 5%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		@include mq(sm){
			font-size: 2vw;
			margin-top: 5vw;
		}
		@include mq(md){
			font-size: 1.2vw;
			margin-top: 3vw;
		}
		@include mq(lg){
			font-size: 1vw;
			margin-top: 2vw;
		}
	}
	.blog-next{
		margin-top: 2vw;
		@include mq(sm){
			margin-top: 2vw;
		}
		@include mq(md){
			margin-top: 1vw;
		}
		@include mq(lg){
			margin-top: .5vw;
		}
	}
	.back-to-top-blog{
		width: 100%;
		text-align: center;
		margin-left: 0;
		font-size: 3.5vw;
		margin-top: 10vw;
		@include mq(sm){
			font-size: 3vw;
			margin-top: 8vw;
		}
		@include mq(md){
			font-size: 1.5vw;
			margin-top: 3vw;
		}
		@include mq(lg){
			font-size: 1.1vw;
			margin-top: 2vw;
		}
	}
}