#main{
	padding-top: 30vw;
	@include mq(sm){padding-top: 22.5vw;}
	@include mq(md){padding-top: 5vw;}
	@include mq(lg){padding-top: 3vw;}
}

.parlevel1-headline{
	display: block;
	position: relative;
	width: 100%;
	text-align: center;
	margin: 0 auto 10vw;
	line-height: 1.2;
	font-size: 8vw;
	@include mq(sm){
		margin: 0 auto 7vw;
		line-height: 1;
		font-size: 6vw;
	}
	@include mq(md){
		margin: 0 auto 3vw;
		line-height: 1;
		font-size: 2.73vw;
	}
	@include mq(lg){
		margin: 0 auto 3vw;
		line-height: 1;
		font-size: 2.73vw;
	}
	span{
		display: inline-block;
		position: relative;
		&::before,&::after{
			content: "";
			display: inline-block;
			position: absolute;
			@include mq{height: 9.6vw;width: 2vw;}
			@include mq(sm){height: 6vw;width: 1.5vw;}
			@include mq(md){height: 2.73vw;width: .5vw;top: .1vw;}
			@include mq(lg){height: 2.73vw;width: .5vw;top: .1vw;}
		}
		&::before{
			left: -5vw;
			@include mq(sm){left: -5vw;}
			@include mq(md){left: -2vw;}
			@include mq(lg){left: -1.5vw;}
		}
		&::after{
			right: -5vw;
			@include mq(sm){right: -5vw;}
			@include mq(md){right: -2vw;}
			@include mq(lg){right: -1.5vw;}
		}
	}
}
.parlevel1-content{
	position: relative;
	margin-bottom: 5vw;
	.parlevel1-text{
		width: 90%;
		margin-top: 0;
		margin-bottom: 1.5vw;
		margin-left: 5%;
		font-size: 4vw;
		@include mq(sm){
			margin-bottom: 1.5vw;
			font-size: 3vw;
		}
		@include mq(md){
			margin-bottom: .25vw;
			font-size: 1.2vw;
		}
		@include mq(lg){
			margin-bottom: .25vw;
			font-size: 1.2vw;
		}
	}
}


.parlevel2-headline,.parlevel2-headline-single{
	position: relative;
	width: 90vw;
	margin: 7vw 5vw 0;
	padding-left: 6.5vw;
	box-sizing: border-box;
	font-size: 4.5vw;
	line-height: 1.75;
	border-bottom: dashed 2px $baseColor;
	@include mq(sm){
		margin: 7vw 0 0 5%;
		padding-left: 6vw;
		font-size: 3.5vw;
	}
	@include mq(md){
		width: 90%;
		margin: 3.5vw 0 0 5%;
		padding-left: 3.25vw;
		box-sizing: border-box;
		font-size: 1.75vw;
		line-height: 1.5;
	}
	@include mq(lg){
		width: 90%;
		margin: 3vw 0 0 5%;
		padding-left: 2.5vw;
		box-sizing: border-box;
		font-size: 1.5vw;
		line-height: 1.5;
	}
	&::before{
		content: "";
		display: inline-block;
		position: absolute;
		width: 4vw;
		height: 4vw;
		top: 1.9vw;
		left: 1vw;
		background-size: cover;
		@include mq(sm){
			width: 3.5vw;
			height: 3.5vw;
			top: 1.5vw;
			left: 1vw;
		}
		@include mq(md){
			width: 1.75vw;
			height: 1.75vw;
			top: .45vw;
			left: .8vw;
		}
		@include mq(lg){
			width: 1.25vw;
			height: 1.25vw;
			top: .55vw;
			left: .65vw;
		}
	}
}
.parlevel2-headline-single::before{background-image: url(../img/dice.svg);}
@for $i from 1 through 6{
	.parlevel2-headline:nth-of-type(#{$i})::before{
		background-image: url(../img/dice_#{$i}.svg);
	}
}
.parlevel2-content{
	position: relative;
	margin: 3vw 5vw 0;
	width: 90vw;
	@include mq(sm){margin: 3vw 5vw 0;}
	@include mq(md){width: 90%; margin: 1.5vw 5% 0;}
	@include mq(lg){width: 90%; margin: 1.25vw 5% 0;}
	.parlevel2-ul{
		padding: 0;
		.parlevel2-li{
			position: relative;
			line-height: 8vw;
			font-size: 4vw;
			.parlevel2-ul-text{padding-left: 8vw;margin-top: 2vw;margin-bottom: 1vw;}
			@include mq(sm){
				line-height: 6.5vw;
				font-size: 3vw;
				.parlevel2-ul-text{padding-left: 6vw;margin-top: 2vw;margin-bottom: 1.5vw;}
			}
			@include mq(md){
				line-height: 3vw;
				font-size: 1.25vw;
				.parlevel2-ul-text{padding-left: 3.25vw;margin-top: 1vw;margin-bottom: .5vw;}
			}
			@include mq(lg){
				line-height: 2.5vw;
				font-size: 1.25vw;
				.parlevel2-ul-text{padding-left: 2.65vw;margin-top: 1vw;margin-bottom: .25vw;}
			}
		}
		li::before{
			content: "";
			display: inline-block;
			position: absolute;
			width: 6vw;
			height: 6vw;
			top: 1vw;
			left: .5vw;
			background-size: cover;
			background-repeat: no-repeat;
			@include mq(sm){
				width: 3.5vw;
				height: 3.5vw;
				top: 1.5vw;
				left: 1.2vw;
			}
			@include mq(md){
				width: 2vw;
				height: 2vw;
				top: .5vw;
				left: .7vw;
			}
			@include mq(lg){
				width: 1.5vw;
				height: 1.5vw;
				top: .5vw;
				left: .6vw;
			}
		}
		$fileTypes: png,ai,doc,pdf,zip;
		@each $type in $fileTypes{
			[data-file-type="#{$type}"]::before{background-image: url(../img/icons/#{$type}.svg);}
		}
	}
	.parlevel2-text{
		position: relative;
		width: 100%;
		font-size: 3.6vw;
		box-sizing: border-box;
		line-height: 1.8;
		margin: 1.5vw 0 0;
		@include mq(sm){
			margin: 1vw 0 0;
			font-size: 2.5vw;
			line-height: 1.7;
		}
		@include mq(md){
			width: 90%;
			margin: .75vw 0 0;
			font-size: 1.1vw;
			line-height: 1.5;
			padding-left: 0 2vw 0;
		}
		@include mq(lg){
			width: 90%;
			margin: 1vw 0 0;
			font-size: 1vw;
			line-height: 1.25;
			padding: 0 1.5vw ;
		}
		.is-lightened{
			background: linear-gradient(transparent 70%, lighten($baseColor,30%) 70%);
		}
	}
}


.parlevel3-headline{
	position: relative;
	margin: 3vw 0 0;
	font-size: 4vw;
	font-weight: normal;
	&::before{content:"〇"}
	@include mq(sm){
		margin: 2.5vw 1vw 0;
		font-size: 3vw;
	}
	@include mq(md){
		margin: 1.5vw 1vw 0;
		font-size: 1.4vw;
	}
	@include mq(lg){
		margin: 1.5vw 1vw 0;
		font-size: 1.2vw;
	}
}
.parlevel3-content{
	width: calc(100% - 4vw);
	margin: .5vw 4vw 0;
	ul{
		font-size: 3.34vw;
		margin-top: 1.5vw;
		padding: 0vw;
		li{padding-left:3.34vw;line-height: 1.75;&::before{content:"・"}}
	}
	@include mq(sm){
		width: calc(100% - 4vw);
		margin: .5vw 4vw 0;
		ul{
			font-size: 2.5vw;
			margin-top: 0vw;
			li{padding-left: 2.5vw;line-height: 1.75;&::before{content:"・"}}
		}
	}
	@include mq(md){
		width: calc(100% - 2.4vw);
		margin: .5vw 0 0 2.4vw;
		font-size: 1vw;
		ul{
			font-size: 1.1vw;
			margin-top: 1vw;
			margin-left: 0;
			padding: 0;
			li{padding-left: 1.1vw;line-height: 2;&::before{content:"・"}}
		}
	}
	@include mq(lg){
		width: 100%;
		margin: .5vw 0 0 2.4vw;
		font-size: 1vw;
		ul{
			font-size: 1.1vw;
			margin-top: .5vw;
			margin-left: 0;
			li{padding-left: 1.1vw;line-height: 2;&::before{content:"・"}}
		}
	}
	.parlevel3-text{
		width: 100%;
		position: relative;
		margin: 0;
		@include mq{
			font-size: 3.6vw;
			line-height: 1.75;
		}
		@include mq(sm){
			font-size: 2.75vw;
			line-height: 1.75;
		}
		@include mq(md){
			font-size: 1.2vw;
			line-height: 1.3;
		}
		@include mq(lg){
			font-size: 1.1vw;
			line-height: 1.3;
		}
	}

}

.main-about{
	.parlevel1-headline{span::after, span::before{background-color:#DD9062;}}
}
.main-theme{
	.parlevel1-headline{span::after, span::before{background-color: #FED900;}}
	.theme-logo{
		position: relative;
		width: 80vw;
		margin: -12.5vw 10vw 0;
		@include mq(sm){
			position: relative;
			width: 60vw;
			margin: -9vw 20vw 0;
		}
		@include mq(md){
			position: relative;
			width: 40%;
			margin: -2vw 30% 0;
		}
		@include mq(lg){
			position: relative;
			width: 40%;
			margin: -3vw 30% 0;
		}
		img{
			display: block;
			width: 100%;
			opacity: 1;
			transition: .5s all ease;
		}
	}
	.parlevel2-headline:first-of-type{
		margin-top: -3vw;
		@include mq(sm){margin-top: -4vw;}
		@include mq(md){margin-top: -3vw;}
		@include mq(lg){margin-top: -3vw;}
	}
}
.main-info{
	.parlevel1-headline{span::after, span::before{background-color: #01A64A;}}
}
.main-access{
	.parlevel1-headline{span::after, span::before{background-color:#1493C8;}}
	@include mq(md){margin-bottom: 8vw;}
	@include mq(lg){margin-bottom: 6vw;}
	.access-map{
		width: 90%;
		margin-top: 5vw;
		margin-left: 5%;
		img{width: 100%;}
	}
	@include mq(md){
		.parlevel2-headline{
			width: 45%;
		}
		.access__parlevel2-headline{display: none;}
		.parlevel2-content{
			width: 45%;
		}
		.access-map{
			position: absolute;
			width: 40%;
			margin-top: 0;
			top: 0;
			right: 5%;
		}
	}
	@include mq(lg){
		.parlevel2-headline{
			width: 45%;
		}
		.access__parlevel2-headline{display: none;}
		.parlevel2-content{
			width: 45%;
		}
		.access-map{
			position: absolute;
			width: 42%;
			margin-top: 0;
			top: 0;
			right: 3%;
		}
	}
}

.main-blogs{
	.parlevel1-headline{span::after, span::before{background-color: darken($baseColor, 10%);}}
}
.main-groups{
	.parlevel1-headline{span::after, span::before{background-color: lighten($baseColor, 10%);}}
}
.main-contact{
	.parlevel1-headline{span::after, span::before{background-color: #585195;}}
}
.main-links{
	.parlevel1-headline{span::after, span::before{background-color: #AACE54;}}
}
.main-student{
	.parlevel1-headline{span::after, span::before{background-color: gray;}}
}
.main-download{
	.parlevel1-headline{span::after, span::before{background-color: #f6ad49;}}
	.parlevel2-content{
		.parlevel2-ul{
			.parlevel2-li{
				a{
					display: block;
					z-index: 3000;
					 -webkit-tap-highlight-color:rgba(0,0,0,0.2);
					img{display: block;width: 100%;}
				}
				.img-horizontal{
					width: 80%;
					margin-left: 10%;
				}
				.img-vertical{
					width: 30%;
					margin-left: 35%;
				}
				@include mq(sm){
					.img-horizontal{
						width: 70%;
						margin-left: 15%;
					}
				}
				@include mq(md){
					.img-horizontal{
						width: 40%;
						margin-left: 3.25vw;
					}
					.img-vertical{
						width: 15%;
						margin-left: 3.25vw;
					}
				}
				@include mq(lg){
					.img-horizontal{
						width: 30%;
						margin-left: 2.65vw;
					}
					.img-vertical{
						width: 10%;
						margin-left: 2.65vw;
					}
				}
			}
		}
	}
}

// development
@include mq(md){
	.content-tab-trigger{
		position: absolute;
		box-sizing: border-box;
		top:0;
		text-align: center;
		border-top: 1px solid rgba(0,0,0,0.6);
		border-left: 1px solid rgba(0,0,0,0.6);
		border-bottom: 1px solid rgba(0,0,0,0.6);
		z-index: 1000;
		cursor: pointer;
		h2{
			line-height: 2;
			font-size: 1.5vw;
		}
		&.tab-last{border-right: 1px solid rgba(0,0,0,0.6);}
		&:hover{
			background-color: rgba(0,0,0,0.2);
		}
	}
	.content-tab{
		display: none;
		position: relative;
		top:  calc(3vw + 2px);
		z-index: 1000;
		&.content-tab-open{display: block !important;z-index: 2000;}
	}
}
