.main-groups{
	min-height: 100vh;
    .deco-search-box{
		position: relative;
		width: 80%;
		height: 15vw;
		margin-left: 10%;
		margin-bottom: 15vw;
		border-top: dashed 2px $baseColor;
		border-bottom: dashed 2px $baseColor;
		box-sizing: border-box;
		text-align: center;
		transition: .5s all ease;
		&.is-open{height: 25vw !important;}
    	.deco-search-box__input{
        	display: block;
			width: 60vw;
			height: 7.5vw;
			border-radius: 0;
			background-color: rgba(255,255,255,0.8);
			border: solid 1px $baseWhite;
			box-shadow: 0 0 0 0;
			padding-left: 2vw;
        	margin: 2.5vw auto 0;
		}
		.deco-search-result{
			width: 100%;
			.deco-search-result__list{
				padding: 0;
				.deco-list__item{
					div{display: inline-block;}
					font-size: 3.34vw;
					line-height: 2;					
					display: none;
					&[data-deco-num = '7']{font-size: 3vw;}
					&[data-deco-num = '23']{font-size: 3vw;}
				}
			}
			.serach-word-too-short,.not-found{
				display: none;
				white-space: pre;
				font-size: 3.34vw;
			}
        }
    }
    .deco-list-wrap{
		padding: 0;
		.deco-list{
			position: relative;
			ul{
				margin: 0 auto 0;
				display: none;
				padding: 0;
			}
		}
		.groups-headline-trigger{
			position: absolute;
			top: 0;
			left: 5vw;
			width: 90vw;
			height: calc(4.5vw * 1.75);
			text-align: right;
			box-sizing: border-box;
			padding-right: 2.5vw;
			transform: rotateZ(0);
			font-size: 4.5vw;
			i{transition: .5s all ease;}
			&.is-on{
				i{transform: rotateX(180deg);}
			}
		}
        .deco-list__item{
			position: relative;
			width: 90%;
			margin-left: 5vw;
			box-sizing: border-box;
			padding-left: 13.5vw;
            div{display: inline-block;}
            font-size: 4vw;
			line-height: 3;
			&.is-hovered{
				background-color: rgba(0,0,0,0.4);
			}
			&[data-deco-num ~= '23']{font-size: 3vw;line-height: 4;}
			&[data-deco-num ~= '7']{font-size: 2.7vw;line-height: 4.44;}
			border-bottom: .1px dashed rgba(0,0,0,0.6);
			.deco-icon{
				position: absolute;
				width: 10vw;
				height: 10vw;
				top: 1vw;
				left: 1vw;
			}
			.deco-img,.deco-desc{
				display: none;
			}
        }
    }
}

.deco-desc-modal-wrap{
	position: fixed;
	display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
	z-index: 2000;
	&.is-on{background-color: $baseWhite !important;}
}
.deco-desc-modal__down-arrow{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 5vw;
	span{
		display: block;
		box-sizing: border-box;
		margin: 0 auto;
		color: $baseWhite;
		opacity: 0;
		font-weight: bold;
		font-size: 7vw;
		padding-top: 1vw;
		line-height: 1;	
		width: 10vw;
		height: 10vw;
		background-color: $baseColor;
	}
}
.deco-desc-modal{
	position: fixed;
	display: none;
    background-color: $baseWhite;
    overflow-x: hidden;
    width: 100vw;
	height: 100vh;
	margin-top: 0;
	margin-bottom: 0;
	bottom: 0;
    padding: 0;
	z-index: 3000;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
    .deco-desc-modal__item{
		width: 100%;
		.deco-img{
			width: 80vw;
			margin-top: 30vw;
			margin-left: 10%;
		}
		.deco-name{
			width: 100%;
			text-align: center;
			font-size: 4vw;
			margin-top: 5vw;
		}
		.deco-title{
			width: 80%;
			text-align: center;
			font-size: 6vw;
			margin-top: 2vw;
			margin-left: 10%;
			padding-bottom: 2.5vw;
			font-weight: 600;
			border-bottom: 2px dashed $baseColor;
		}
		.deco-desc{
			width: 80%;
			margin-top: 5vw;
			margin-left: 10%;
			font-size: 3.5vw;
		}
		.deco-icon{display: none;}
	}
	.deco-desc-modal__close{
		width: 100%;
		text-align: center;
		margin-top: 10vw;
		margin-bottom: 20vw;
	}
	&.deco-desc-modal-prev{
		transform: translateX(-100vw);
	}
	&.deco-desc-modal-next{
		transform: translateX(100vw);
	}
}