.main-groups{
	min-height: 100vh;
    .deco-search-box{
		position: relative;
		width: 80%;
		height: 15vw;
		margin-left: 10%;
		margin-bottom: 15vw;
		border-top: dashed 2px $baseColor;
		border-bottom: dashed 2px $baseColor;
		box-sizing: border-box;
		text-align: center;
		transition: .5s all ease;
		&.is-open{height: 25vw !important;}
    	.deco-search-box__input{
        	display: block;
			width: 60vw;
			height: 7.5vw;
			border-radius: 0;
			background-color: rgba(255,255,255,0.8);
			border: solid 1px $baseWhite;
			box-shadow: 0 0 0 0;
			padding-left: 2vw;
        	margin: 2.5vw auto 0;
		}
		.deco-search-result{
			width: 100%;
			.deco-search-result__list{
				padding: 0;
				.deco-list__item{
					div{display: inline-block;}
					font-size: 3.34vw;
					line-height: 2;					
					display: none;
					&[data-deco-num = '7']{font-size: 3vw;}
					&[data-deco-num = '8']{font-size: 3vw;}
				}
			}
			.serach-word-too-short,.not-found{
				display: none;
				white-space: pre;
				font-size: 3.34vw;
			}
        }
    }
    .deco-list-wrap{
		padding: 0;
		.deco-list{
			position: relative;
			ul{
				margin: 0 auto 0;
				display: none;
				padding: 0;
			}
		}
		.groups-headline-trigger{
			position: absolute;
			top: 0;
			left: 5vw;
			width: 90vw;
			height: calc(4.5vw * 1.75);
			text-align: right;
			box-sizing: border-box;
			padding-right: 2.5vw;
			transform: rotateZ(0);
			font-size: 4.5vw;
			i{transition: .5s all ease;}
			&.is-on{
				i{transform: rotateX(180deg);}
			}
		}
        .deco-list__item{
			position: relative;
			width: 90%;
			margin-left: 5vw;
			box-sizing: border-box;
			padding-left: 13.5vw;
            div{display: inline-block;}
            font-size: 4vw;
			line-height: 3;
			&[data-deco-num ~= '7'],&[data-deco-num ~= '23']{font-size: 3vw;line-height: 4;}
			border-bottom: .1px dashed rgba(0,0,0,0.6);
			.deco-img{
				position: absolute;
				width: 10vw;
				height: 10vw;
				top: 1vw;
				left: 1vw;
			}
        }
    }
}

.deco-desc-modal-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 2000;
}
.deco-desc-modal{
    position: absolute;
    background-color: $baseWhite;
    overflow-x: hidden;
    overflow-y: auto;
    width: 90vw;
    height: 100vw;
    left: 5vw;
    top: calc(50vh - 50vw);
    padding: 0;
    display: none;
    opacity: 1;
    z-index: 3000;
    // transition: .25s all ease;
    // &.is-shown{opacity: 1;}
    .deco-desc-modal__item{
        width: 100%;
        min-height: 100vw;
        margin-left: 10vw;
        text-align: center;
    }
}