.index-bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
	left: 0;
	border: none;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    transition: .5s all ease;
    opacity: 1;
    &.is-beforeStart{opacity: 0;}
    .index-bg-element{
		position: relative;
		width: 10vw;
		height: 10vw;
		img{width: 100%;height: 100%;}
		@include mq(md){
			width: 5vw;
			height: 5vw;
		}
		@include mq(lg){
			width: 5vw;
			height: 5vw;
		}
		opacity: 1;
		transition: 1.5s all ease;
		&.is-hidden{opacity: 0;}
	}
    &::after{
		content: "";
		top: 0;
    	left: 0;
        display: block;
        position: fixed;
        z-index: 4000;
        background-color: rgba(251,251,246,.15);
        width: 100vw;
        height: 100vh;
    }
}
