.index-bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
	left: 0;
	border: none;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    transition: .5s all ease;
    opacity: 1;
    &.is-beforeStart{opacity: 0;}
    .index-bg-element{
		position: relative;
		width: 10vw;
		height: 10vw;
		img{width: 100%;height: 100%;}
		@include mq(md){
			width: 5vw;
			height: 5vw;
		}
		@include mq(lg){
			width: 5vw;
			height: 5vw;
		}
		opacity: 1;
		transition: 1.5s all ease;
		&.is-hidden{opacity: 0;}
	}
    &::after{
		content: "";
		top: 0;
    	left: 0;
        display: block;
        position: fixed;
        z-index: 4000;
        background-color: rgba(251,251,246,.15);
        width: 100vw;
        height: 100vh;
    }
}


/*main*/
.top-content-headline{
    width: 100%;
    text-align: center;
    font-size: 6vw;
    line-height: 10vw;
    @include mq(sm){
        margin: 0 auto 7vw;
        line-height: 1;
        font-size: 6vw;
    }
    @include mq(md){
        margin: 3vw auto 3vw;
        line-height: 1;
        font-size: 2.73vw;
    }
    @include mq(lg){
        margin: 2vw auto 3vw;
        line-height: 1;
        font-size: 3vw;
    }
    span{
        display: inline-block;
        position: relative;
        &::before,&::after{
            content: "";
            display: inline-block;
            position: absolute;
            background-color: $baseColor;
            @include mq{top: 1vw;height: 8vw;width: 2vw;}
            @include mq(sm){height: 6vw;width: 1.5vw;}
			@include mq(md){height: 2.73vw;width: .5vw;}
			@include mq(lg){top: .25vw;height: 2.73vw;width: .5vw;}
        }
        &::before{
            left: -5vw;
            @include mq(sm){left: -5vw;}
			@include mq(md){left: -2vw;}
			@include mq(lg){left: -1.5vw;}
        }
        &::after{
            right: -5vw;
            @include mq(sm){right: -5vw;}
			@include mq(md){right: -2vw;}
			@include mq(lg){right: -1.5vw;}
        }
    }
}
#main.main-index{
	position: relative;
    display: block;
    width: 100vw;
    min-height: 100vh;
    margin-left: 0;
    padding-top: 0;
	overflow-y: scroll;
    @include disactivateLinkColors;
    &.is-beforeStart{display: none;}
    .top-content{
        position: absolute;
		width: 100vw;
        top: 0;
        left: 0;
		padding-bottom: 3vw;
		@include mq(lg){padding-bottom: 5vw;}
        .top-content__item{position: relative;}
        .top-content__item-welcome{
            box-sizing: border-box;
            margin-top: 17.5vw;
            background-color: rgba(0,0,0,0.6);
            width: 100vw;
            height: calc(100vh - 17.5vw);
            padding-top: 5vw;
            padding-bottom: 5vw;
            box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4);
			text-align: center;
            @include mq(sm){
                margin-top: 12.5vw;
                height: calc(100vh - 12.5vw);
                padding-top: 2.5vw;
                padding-bottom: 5vw;
            }
            @include mq(md){
                background-color: rgba(0,0,0,0.75);
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                margin-top: 0;
                min-height: 100vh;
                padding-top: 5vw;
                padding-bottom: 0;
            }
            @include mq(lg){
                background-color: rgba(0,0,0,0.75);
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                margin-top: 0;
                min-height: 100vh;
                padding-top: 5vw;
                padding-bottom: 0;
            }
            .top-welcome__image{
                position: relative;
                width: 100vw;
                margin: 0;
                opacity:0.9;
                @include mq(sm){
                   width: 90vw; 
                   margin-left: 5vw;
                }
                @include mq(md){
                    width: 100vw;
                    img{width: 40%;}
                    &::after{display: none;}
                }
                @include mq(lg){
                    width: 100vw;
                    img{width: 40%;}
                    &::after{display: none;}
                }
                img{width: 100%;}
                &::after{
                    content:"";
                    display: block;
                    position: absolute;
                    height: 0;
                    width: 90%;
                    top: calc(100% - 2.5vw);
                    left: 5%;
                    border-bottom: dashed 2px $baseWhite;
                }
            }
            .top-welcome__text-block{
                .top-welcome__text{
                    position: relative;
                    line-height: 1;
					font-size: 4vw;
					font-weight: 400;
                    color: $baseWhite;
                    @include mq(sm){font-size: 3.34vw;}
                    @include mq(md){
                        font-size: 1.75vw;
                        line-height: 2vw;
                    }
                    @include mq(lg){
                        font-size: 1.75vw;
                        line-height: 2vw;
                    }
                }
                @include mq(md){width: 40vw;}
                @include mq(lg){width: 40vw;}
            }
            .top-welcome__countdown{
                margin-top: 10vw;
                margin-left: 15vw;
                width: 70vw;
                height: 25vw;
                padding-top: 5vw;
                padding-bottom: 5vw;
                background-color: rgba(255,255,255,0.8);
                box-shadow: inset 0px 0px 0px 0.5vw $baseWhite, inset 0px 0px 0px 1vw $baseColor, inset 0px 0px 0px 1.5vw $baseWhite, inset 0px 0px 0px 2vw $baseColor;
                .top-welcome__countdown__text{
                    width: 100%;
                    text-align: center;
                    font-size: 5vw;
                    line-height: 2;
                    margin: 0;
                    .top-welcome__countdown__days-left{
                        font-size: 12.5vw;
                        margin: 0 5vw;
                        color: $baseColor;
                        line-height: 15vw;
                    }
                }
                @include mq(sm){
                    height: 20.5vw;
                    margin-top: 7.5vw;
                    .top-welcome__countdown__text{
                        width: 100%;
                        text-align: center;
                        font-size: 4vw;
                        line-height: 2;
                        margin: 0;
                        .top-welcome__countdown__days-left{
                            font-size: 10vw;
                            margin: 0 5vw;
                            color: $baseColor;
                            line-height: 12.5vw;
                        }
                    }
                }                
                @include mq(md){
                    margin: 0;
                    width: 30vw;
                    height: 6vw;
                    margin-left: -15vw;
                    padding-top: 2.5vw;
                    box-shadow: inset 0px 0px 0px 0.25vw $baseWhite, inset 0px 0px 0px 0.5vw $baseColor, inset 0px 0px 0px 0.75vw $baseWhite, inset 0px 0px 0px 1vw $baseColor;
                    .top-welcome__countdown__text{
                        font-weight: bold;
                        width: 100%;
                        text-align: center;
                        font-size: 2vw;
                        line-height: 2;
                        margin: 0;
                        .top-welcome__countdown__days-left{
                            font-size: 4vw;
                            margin: 0 2.5vw;
                            color: $baseColor;
                            line-height: 4vw;
                        }
                    }
                }
                @include mq(lg){
                    margin: 0;
                    width: 30vw;
                    height: 6vw;
                    margin-left: -15vw;
                    padding-top: 2.5vw;
                    box-shadow: inset 0px 0px 0px 0.25vw $baseWhite, inset 0px 0px 0px 0.5vw $baseColor, inset 0px 0px 0px 0.75vw $baseWhite, inset 0px 0px 0px 1vw $baseColor;
                    .top-welcome__countdown__text{
                        font-weight: bold;
                        width: 100%;
                        text-align: center;
                        font-size: 2vw;
                        line-height: 2;
                        margin: 0;
                        .top-welcome__countdown__days-left{
                            font-size: 4vw;
                            margin: 0 2.5vw;
                            color: $baseColor;
                            line-height: 4vw;
                        }
                    }
                }
            }
        }
        .top-content__item-latest-news{
            background-color: #fefefe;
            box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4), inset 0px 0px 0px 2vw #fefefe, inset 2vw 2vw 0px 2px $baseColor, inset -2vw -2vw 0px 2px $baseColor;
            width: 90vw;
            margin-top: 15vw;
            margin-left: 5vw;
			padding-top: 2.5vw;
			padding-bottom: 2.5vw;
			@include mq(sm){padding-top: 8vw;height: 30vw;}
            .top-latest-news{
                width: 100%;
                padding: 0;
            }
            .top-latest-news__item{
                width: 100%;
                .top-latest-news__item-date{
                    display: inline-block;
                    padding: 1vw;
                    font-size: 2.5vw;
                    margin-left: 5vw;
					line-height: 3.5vw;
					box-sizing: border-box;
                    border: .2px solid #000;
                    font-family: $baseFont_en;
                }
                .top-latest-news__item-title{
                    font-size: 3.5vw;
                    display: inline-block;
                    margin-left: 3vw;
                }
            }
            @include mq(md){
                width: 60vw;
                margin-top: 10vw;
                margin-left: 20vw;
                .top-latest-news{
                    width: 100%;
                    padding: 0;
                }
                .top-latest-news__item{
                    width: 100%;
                    .top-latest-news__item-date{
                        padding: 1vw;
                        font-size: 1vw;
                        display: inline-block;
                        border: .2px solid #000;
                    }
                    .top-latest-news__item-title{
                        font-size: 2vw;
                        display: inline-block;
                        margin-left: 3vw;
                    }

                }
            }
            @include mq(lg){
                width: 60vw;
                height: 15vw;
                margin-top: 12.5vw;
				margin-left: 20vw;
				box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4), inset 0px 0px 0px 1vw #fefefe, inset 1vw 1vw 0px 2px $baseColor, inset -1vw -1vw 0px 2px $baseColor;
                .top-latest-news{
                    width: 100%;
                    padding: 0;
                }
                .top-latest-news__item{
                    width: 100%;
                    .top-latest-news__item-date{
						box-sizing: border-box;
                        padding: 1vw 2vw 1vw;
                        font-size: 1vw;
                        display: inline-block;
						border: .2px solid #000;
						line-height: 1.25vw;
						margin-left: 4vw;
                    }
                    .top-latest-news__item-title{
						margin-top: 0vw;
                        font-size: 1.5vw;
                        margin-left: 2vw;
                    }

                }
            }
        }
        .top-content__item-grand-menu{
            @include mq(sm){padding-top: 8vw;}
            margin-top: 15vw;
            width: 90%;
            margin-left: 5%;
            padding-top: 3vw;
            padding-bottom: 3vw;
            background-color: #fefefe;
            box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4), inset 0px 0px 0px 2vw #fefefe, inset 2vw 2vw 0px 2px $baseColor, inset -2vw -2vw 0px 2px $baseColor;
            @include mq(md){
                width: 60vw;
                min-height: 20vw;
                margin-top: 10vw;
                margin-left: 20vw;
            }
            @include mq(lg){
                width: 60vw;
                min-height: 20vw;
                margin-top: 10vw;
				margin-left: 20vw;
				padding-top: 2vw;
				padding-bottom: calc(1vw + 5px);
				box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4), inset 0px 0px 0px 1vw #fefefe, inset 1vw 1vw 0px 2px $baseColor, inset -1vw -1vw 0px 2px $baseColor;
            }
            .top-grand-menu{
                margin: 0;padding: 0;
                .top-grand-menu__item{
                    margin: 0;padding: 0;
                    cursor: pointer;
            		position: relative;
            		width: 90%;
                    margin-left: 5%;
					height: 25vw;
					box-sizing: border-box;
            		background-color: #fefefe;
            		border-bottom: dashed .5px rgba(0,0,0,0.4);
            		@include mq(sm){height: 20vw;}
            		@include mq(md){height: 10vw;}
            		@include mq(lg){height: 8vw;}
            		&:last-of-type{border: none;}
            		a{
            			display:block;width:100%;height:100%;
						position:absolute;top:0;left:0;
						z-index: 3000;
						&.is-hovered{background-color: rgba(0,0,0,0.1);}
						@include mq(md){&:hover{background-color: rgba(0,0,0,0.1);}}
						@include mq(lg){&:hover{background-color: rgba(0,0,0,0.1);}}
            		}
                    .top-grand-menu__item__title{
                        font-family: $baseFont_en;
            			margin: 0;
            			position: absolute;
            			top: 0;
            			left: 0;
            			width: 100%;
                        text-align: center;
                        padding-top: 1vw;
            			line-height: 25vw;
            			font-size: 8vw;
            			font-weight: normal;
            			@include mq(sm){
                            font-size: 8vw;
            				line-height: 20vw;
            			}
            			@include mq(md){
                            font-size: 5vw;
                            line-height: 10vw;
            			}
            			@include mq(lg){
                            font-size: 4vw;
                            line-height: 8vw;
            			}
            		}
            		.top-grand-menu__item__disc{
            			position: absolute;
            			margin: 0;
            			top: 0;
            			left: 0;
            			width: 70%;
            			box-sizing: border-box;
            			padding-left: 5vw;
            			font-size: 3vw;
            			line-height: 4;
            			@include mq(sm){
            				padding-left: 4vw;
            				font-size: 3vw;
            				line-height: 3;
            			}
            			@include mq(md){
            				padding-left: 1.5vw;
            				font-size: 1.2vw;
            				line-height: 2.75;
            			}
            			@include mq(lg){
                            padding-left: 1.5vw;
            				font-size: 1.2vw;
            				line-height: 2.5;
            			}
            		}
                }
            }
        }
        .top-content__item-twitter{
            margin-top: 15vw;
            width: 90%;
            margin-left: 5%;
            padding-top: 3vw;
            padding-bottom: 5vw;
            margin-bottom: 30vw;
            background-color: #fefefe;
            box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4), inset 0px 0px 0px 2vw #fefefe, inset 2vw 2vw 0px 2px $baseColor, inset -2vw -2vw 0px 2px $baseColor;
            text-align: center;
            @include mq(md){display: none;}
            @include mq(lg){display: none;}
        }
    }
}
