<% var date = new Date(); -%>
	</div>
	<% if(typeof topPage === undefined){var topPage = "";} %><% if(topPage){ -%>
	<script defer src="https://code.jquery.com/jquery-2.2.4.min.js?timestamp=<%= date.getTime() %>"></script>
	<script defer src="assets/js/min/script.min.js?timestamp=<%= date.getTime() %>"></script>
	<% }else{ -%>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js?timestamp=<%= date.getTime() %>"></script>
	<script src="assets/js/min/script.min.js?timestamp=<%= date.getTime() %>"></script>
	<% } -%>
</body>
</html>
