<% var date = new Date(); -%>	
	</div>
	<script defer src="https://code.jquery.com/jquery-2.2.4.min.js?timestamp=<%= date.getTime() %>"></script>
	<script defer src="assets/js/min/script.min.js?timestamp=<%= date.getTime() %>"></script>
</body>
</html>
