<% var date = new Date(); -%>
	</div>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js?timestamp=<%= date.getTime() %>"></script>
	<script src="../../assets/js/min/script.min.js?timestamp=<%= date.getTime() %>"></script>
	<script src="../../assets/js/min/h3.min.js?timestamp=<%= date.getTime() %>"></script>
	<% if(pageName == "高3ステージ班"){ -%>
	<script src="../../assets/js/min/jquery.scrollme.min.js?timestamp=<%= date.getTime() %>"></script>
	<% } %>
</body>
</html>
