<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <!-- ©筑波大学付属駒場中・高等学校文化祭実行委員会 2017 -->
    <title><% if(pageName!=""){ %><%= pageName %>｜<%}%>第66回筑駒文化祭公式ウェブサイト</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="keywords" content="文化祭,筑駒,駒場,筑波,高校,中学,つくこま,ぶんかさい,Dice!,Dice,ダイス">
    <meta name="description" content="第66回筑駒文化祭の公式ウェブサイトです。">
    <meta property="og:title" content="第66回筑駒文化祭公式ウェブサイト">
    <meta property="og:description" content="第66回筑駒文化祭公式ウェブサイトです。">
    <meta property="og:image" content="http://tsukukoma.bunkasai.info/assets/images/ogp.png">
    <meta property="og:url" content="http://tsukukoma.bunkasai.info/">
    <meta property="fb:app_id" content="210053346147406">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@tsukukomafesta">
    <meta name="twitter:image" content="http://tsukukoma.bunkasai.info/assets/images/apple-touch-icon.png">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="assets/images/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/0a9463094e.js"></script>
    <script src="https://use.typekit.net/juh7fjb.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="assets/css/stylesheet.css">
</head>
<% if(typeof topPage === undefined){var topPage = "";} %>
<body <% if(topPage){ %> class="body-top"<% }%>>
    <div id="container" class="top-container" ontouchstart="">
