<% var pageName = "" %>
<%- include("components/_header.ejs",{pageName:pageName}) %>
<%- include("components/_menu.ejs",{pageId:""}) %>
<main id="main">
	<h1 class="parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="parlevel1-content">

	</div>
</main>
<%- include("components/_footer.ejs") %>
