<% var topPage=true, path = "",date = new Date(); -%>
<%- include("components/_header.ejs",{pageName:"",topPage:topPage,path:path}) -%>
		<div id="loader">
			<div id="loader_icon"></div>
		</div>
		<div id="enter-page">
			<div class="enter-page__skip">SKIP</div>
			<div class="enter-page__whatHappens-wrap">
				<div class="enter-page__whatHappens">
					<span class="enter-page__whatHappens-text">WHAT&nbsp;HAPPENS?</span>
				</div>
			</div>
			<div class="enter-page__logo-wrap">
				<svg class="enter-page__logo" xmlns="http://www.w3.org/2000/svg">
					<circle class="baseCircle"></circle>
					<rect class="rect rect1"></rect>
					<rect class="rect rect2"></rect>
					<rect class="rect rect3"></rect>
					<rect class="rect rect4"></rect>
					<rect class="rect rect5"></rect>
					<rect class="rect rect6"></rect>
					<polygon class="tri tri1" points="120,20.7 206.1,169.68 33.9,169.68"></polygon>
					<polygon class="tri tri2" points="120,219.3 206.1,70.32 33.9,70.32"></polygon>
					<polygon class="hex" points="91.5,70 148.5,70 177.36,120 148.5,169.68 91.5,169.68 62.64,120"></polygon>
					<rect class="rect-m rect-m1"></rect>
					<rect class="rect-m rect-m2"></rect>
					<rect class="rect-m rect-m3"></rect>
					<rect class="rect-m rect-m4"></rect>
					<rect class="rect-m rect-m5"></rect>
					<rect class="rect-m rect-m6"></rect>
					<polygon class="tri-m tri-m1" points="110.1,102.96 120,108.6 110.1,114.24"></polygon>
					<polygon class="tri-m tri-m2" points="110.1,102.96 120,108.6 110.1,114.24"></polygon>
					<polygon class="tri-m tri-m3" points="110.1,102.96 120,108.6 110.1,114.24"></polygon>
					<polygon class="tri-m tri-m4" points="110.1,102.96 120,108.6 110.1,114.24"></polygon>
					<polygon class="tri-m tri-m5" points="110.1,102.96 120,108.6 110.1,114.24"></polygon>
					<polygon class="tri-m tri-m6" points="110.1,102.96 120,108.6 110.1,114.24"></polygon>
				</svg>
			</div>
			<div class="enter-page__logo-text">
				<div class="enter-page__logo-text-item enter-page__logo-text-item-1">Dice&#33;</div>
				<div class="enter-page__logo-text-item enter-page__logo-text-item-2">
					<span class="enter-page__logo-text-item-dec enter-page__logo-text-item-dec-l"></span>
					<span class="enter-page__logo-text-item-dec enter-page__logo-text-item-dec-r"></span>
				</div>
				<div class="enter-page__logo-text-item enter-page__logo-text-item-3">66th TSUKUKOMA FES.</div>
			</div>
			<div class="enter-page__button">
				<div class="enter-page__button__item"></div>
				<div class="enter-page__button__item"></div>
			</div>
		</div>
		<div class="index-bg">
				<% for(var i = 1; i<=1000;i++){ %><img class="index-bg-<%= i %>"> <% } %></div>
<%- include("components/_footer.ejs") -%>
