<% var pageName = "ごあんない" %>
<%- include("components/_header.ejs",{pageName:pageName}) %>
<%- include("components/_menu.ejs",{pageId:"info"}) %>
<main id="main" class="main-info">
	<h1 class="parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="parlevel1-content">
		<h2 class="parlevel2-headline">公共交通機関をご利用ください</h2>
		<div class="parlevel2-content">
			<p class="parlevel2-text">　校内に駐車場・駐輪場はありません。お車・自転車でのご来場はご遠慮ください。</p>
			<p class="parlevel2-text">　ご来場の際は、電車やバスなどの公共交通機関をご利用いただくようお願い致します。</p>
		</div>
		<h2 class="parlevel2-headline">焦らず、ゆっくりご来場ください</h2>
		<div class="parlevel2-content">
			<p class="parlevel2-text">　文化祭の開場時刻は9:30となっています。開場時刻前のご来場は近隣住民の方々へのご迷惑にもなりますのでご遠慮ください。</p>
			<p class="parlevel2-text">　また、9:30～10:00は校門付近が大変混み合います。入場までに時間がかかる場合もございますのでご了承ください。</p>
		</div>
		<h2 class="parlevel2-headline">ご記名のお願い</h2>
		<div class="parlevel2-content">
			<p class="parlevel2-text">　受付にて来場者の方全員にご記名をお願いしております。ご協力をお願いします。</p>
		</div>
		<h2 class="parlevel2-headline">事務室はお休みです</h2>
		<div class="parlevel2-content">
			<p class="parlevel2-text">　文化祭当日は土休日のため、事務室業務はお休みしております。学校のグッズなどはご購入いただけませんのでご注意ください。</p>
			<p class="parlevel2-text">　なお、入学試験の願書配布のみ実施しております。</p>
		</div>
		<h2 class="parlevel2-headline">学校内でのお願い</h2>
		<div class="parlevel2-content">
			<p class="parlevel2-text">　校内では喫煙・飲酒は全面禁止となっております。また、食品の持ち込みもお断りしております。ご了承ください。</p>
			<p class="parlevel2-text">　その他校内での注意事項に関しては、受付でお配りするパンフレットをお読みください。</p>
		</div>
		<h2 class="parlevel2-headline">お帰りの際は</h2>
		<div class="parlevel2-content">
			<p class="parlevel2-text">　お帰り口にて大衆賞投票を行なっております。皆さまの投票によって受賞団体が決定します。ぜひご投票ください。</p>
			<p class="parlevel2-text">　また、次年度以降の参考とするため来場者アンケートも行っております。アンケートの方は景品もご用意しておりますので、こちらもご協力をお願い致します。</p>
		</div>
	</div>
</main>
<%- include("components/_footer.ejs") %>
