<% var pageName = "生徒向けページ" -%>
<%- include("components/_header.ejs",{pageName:pageName,path:""}) -%>
<%- include("components/_menu.ejs",{pageId:""}) -%>
		<main id="main" class="main-student">
			<h1 class="parlevel1-headline"><span>生徒向けページ</span></h1>
			<div class="parlevel1-content">
				<h2 class="parlevel2-headline">提出書類</h2>
				<div class="parlevel2-content">
					<ul>
						<li>パンフレット・HP原稿提出用紙：<a href="https://www.dropbox.com/s/y8eujhw8986lhu7/%E3%83%91%E3%83%B3%E3%83%95%E3%83%AC%E3%83%83%E3%83%88%E3%83%BBHP%E5%8E%9F%E7%A8%BF%E6%8F%90%E5%87%BA%E7%94%A8%E7%B4%99%EF%BC%88%E3%83%87%E3%83%BC%E3%82%BF%E7%94%A8%EF%BC%89.docx?dl=0" target="_blank">ダウンロード</a></li>
					</ul>
				</div>
				<h2 class="parlevel2-headline">文化祭要項</h2>
				<div class="parlevel2-content">
					<ul>
						<li>文化祭準備要項（赤本）：<a href="https://www.dropbox.com/s/xn66d85xcf30b9t/%E6%96%87%E5%8C%96%E7%A5%AD%E6%BA%96%E5%82%99%E8%A6%81%E7%B6%B1%28%E8%B5%A4%E6%9C%AC%29.pdf?dl=0" target="_blank">ダウンロード</a></li>
						<li>文化祭展示要項（青本）：<a href="https://www.dropbox.com/s/klc00h4rtpswwd6/%E6%96%87%E5%8C%96%E7%A5%AD%E5%B1%95%E7%A4%BA%E8%A6%81%E7%B6%B1%28%E9%9D%92%E6%9C%AC%29.pdf?dl=0" target="_blank">ダウンロード</a></li>
						<li>文化祭演劇要項（黄本）：<a href="https://www.dropbox.com/s/ikpq9uellvs7mbe/%E6%96%87%E5%8C%96%E7%A5%AD%E6%BC%94%E5%8A%87%E8%A6%81%E7%B6%B1%28%E9%BB%84%E6%9C%AC%29.pdf?dl=0" target="_blank">ダウンロード</a></li>
					</ul>
				</div>
			</div>
		</main>
<%- include("components/_footer.ejs") -%>
