<% var pageName = "校内サインのおはなし" %>
<%- include("../components/_blog-header.ejs",{pageName:pageName,path:"blogs/20171023-2"}) %>
<%- include("../components/_blog-menu.ejs",{pageId:"blog"}) %>
<main id="main" class="main-blog-content">
	<div class="blog-tag-name">【文化祭のこだわり】第3回</div>
	<h1 class="blog-parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="blog-parlevel1-content">
		<p class="blog-parlevel1-text">　このブログを読んでいる皆さんのほとんどは、文化祭に足を運んでくださるのではないかと思います。</p>
		<p class="blog-parlevel1-text">　パンフレットを受け取り、行く団体を決め、校舎内に足を踏み入れる…<br></p>
		<p class="blog-parlevel1-text">　しかし、ここで問題が発生します。筑駒の校舎は増築を繰り返した結果、内部生さえ当初は迷ってしまうような複雑な構造になってしまいました。外部の方が迷わないはずがありません。<br><br></p>
		<p class="blog-parlevel1-text">　こんな複雑な校舎の中を来場者の皆様がスムーズに移動できるようにするのが高1広報部門の仕事です。</p>
		<h2 class="blog-parlevel2-headline">1. はやくデコにたどり着きたいから。-校内サイン-</h2>
		<div class="blog-parlevel2-content">
			<div class="blog-img"><img src="../assets/img/blog-img/20171027-2-1.JPG" alt="20171027-2 画像"></div>
			<p class="blog-parlevel2-text">　校舎内に入ると、梁や壁に貼られていた案内図を見られるかと思います。これらの「校内サイン」(案内標識)全93枚は、文化祭3日間のために毎年作り替えられています。</p>
			<p class="blog-parlevel2-text">　校内サインづくりは、まず設置場所の調査から始まります。実際に校内を歩き回り、校内を移動する来場者の導線を考え、導線上に必要とされるであろう情報を盛り込んでいきます。調査が終わり次第、実際のサインの制作に入ります。</p>
			<div class="blog-img"><img src="../assets/img/blog-img/20171027-2-2.JPG" alt="20171027-2 画像"></div>
			<p class="blog-parlevel2-text">　サインをつくるにあたっては多くの情報をわかりやすく伝えるための工夫も欠かせません。参加団体(デコと呼びます)ごとのアイコンや、エリア表示(Blue館、Red館、…)などを採用しています。</p>
			<p class="blog-parlevel2-text">　現在地・各団体への方向などを盛り込み、印刷したものが、皆さんが目にする「校内サイン」になります。</p>
			<div class="blog-img"><img src="../assets/img/blog-img/20171027-2-3.jpg" alt="20171027-2 画像"></div>
		</div>
		<h2 class="blog-parlevel2-headline">2. はやくおいしいものを食べたいから。-食品情報サイン-</h2>
		<div class="blog-parlevel2-content">
			<div class="blog-img"><img src="../assets/img/blog-img/20171027-2-4.JPG" alt="20171027-2 画像"></div>
			<p class="blog-parlevel2-text">　朝日の広場・中庭にあるサインも、高1広報の担当です。こちらでは、提供されているどのような食品をどれくらいのチケットの枚数を持って、どれくらい待てばよいかを、わかりやすく、直感的に理解できるように努めています。</p>
			<p class="blog-parlevel2-text">　例えば、食品班の待機列後部に設置されているこのサイン。</p>
			<div class="blog-img"><img src="../assets/img/blog-img/20171027-2-5.JPG" alt="20171027-2 画像"></div>
			<p class="blog-parlevel2-text">　このサインでは、食品名、チケットの枚数、待ち時間のほかに、食品に含まれるアレルゲンも表示しています。今年からアレルゲンをそれぞれアイコンで示しています。色と絵柄を用いることで、遠くからでも情報を認識できるようにしています。</p>
			<p class="blog-parlevel2-text">　ここで文化祭当日に使えるオトク(?)な情報。実は食品のサインは、必要なチケットの枚数や、待ち時間ごとに色が違うんです。このようにチケット1枚は黄色、2枚はオレンジ色、3枚は赤色と色分けされています。同様に待ち時間が短いときは青色、長くなるごとに黄色→オレンジ色と変化し、販売終了になると赤色になります。</p>
			<p class="blog-parlevel2-text">　このようにして、校内サインは来場者が情報をすばやく読み取り、スムーズに移動できるように工夫して作られています。校内サインは誰もが見ているのにもかかわらず、ポスター、サイトや装飾などに比べて皆さんに気にしてもらえることは極めて少ないと思います。ご来場の際にはぜひ校内サインに注目していただければと思います。</p>
		</div>
		<h2 class="blog-parlevel2-headline">P.S.</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　校内サインは、「文字」、すなわちフォントにもこだわって作られています。</p>
			<p class="blog-parlevel2-text">　校内サインとフォントのはなしは文化祭当日、筑駒メッセ(マゼンタエリア)の「68期フォント愛好会」(M-04)の展示に掲載してあります。フォント好きの方も、フォントって何?と今思った方も、ぜひいらしていただければと思います。それでは。<br></p>
		</div>
		<div class="blog-prev">前の記事：<a href="../../blogs/blog_20171027-1">「ゴミ回収のおはなし」【連載】『文化祭のこだわり』第2回</a></div>
		<div class="back-to-top-blog"><a href="../blog">ブログのトップページへ戻る</a></div>
	</div>
</main>
<%- include("../components/_blog-footer.ejs") %>

	
	


	
