<% var pageName = "財務部門の仕事" %>
<%- include("../components/_blog-header.ejs",{pageName:pageName,path:"blogs/20171023-2"}) %>
<%- include("../components/_blog-menu.ejs",{pageId:"blog"}) %>
<main id="main" class="main-blog-content">
	<div class="blog-tag-name">【連載】『文実の仕事』第10回</div>
	<h1 class="blog-parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="blog-parlevel1-content">
		<p class="blog-parlevel1-text">　こんばんは、財務部門長です。第11回では財務部門について紹介します。</p>
		<h2 class="blog-parlevel2-headline">財務部門って何してるの？</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　　財務部門は名前の通りお金を管理しています。ちなみに一人部門です。これは一人で管理したほうが全体の把握をしやすいからです。財務部門の仕事は大まかに木材販売、会計、文実販売の3個に分けられます。</p>
		</div>
		<h2 class="blog-parlevel2-headline">木材販売</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　筑駒の文化祭では木材をたくさん使います。学校全体で使用する量は膨大になるため、それを各デコがばらばらに材木店へと買いに行くことになると、デコ側・材木店側の双方に大きな負担がかかってしまいます。そこで、文化祭実行委員会が仲介役となり、デコごとの木材購入希望量をまとめ、一括で材木店から購入して、デコ側に販売するのです。木材販売は、「木販」と略されて呼ばれています。</p>
			<p class="blog-parlevel2-text">　木販には0次、1次、2次の3回行われ、近くの材木店さんがトラックで木材を運んできてくれます。</p>
			<div class="blog-img"><img src="../assets/img/blog-img/20171024-2-1.png" alt="20171024-2 画像"></div>
			<p class="blog-parlevel2-text">　写真でわかる通り、運ばれて来る木材の量はとても多く、当然文実側が材木店に支払う金額も大きくなります。</p>
			<p class="blog-parlevel2-text">　木材が運ばれると、文実が種類ごとに並べ、高3特別班、中学HR団体、高校HR団体、特別参加団体の順に呼び出して、木材を引き取りに来てもらいます。</p>
			<div class="blog-img"><img src="../assets/img/blog-img/20171024-2-2.JPG" alt="20171024-2 画像"></div>
		</div>
		<h2 class="blog-parlevel2-headline">会計</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　財務部門っぽい仕事といえるかもしれません。高校自治会と中学生徒会に予算を申請・折衝し、今年度の文化祭の予算を決定します。もらった予算は財務部門が管理し、部門ごとにあと予算がいくら残っているのかを把握します。</p>
			<p class="blog-parlevel2-text">　文化祭の予算をすべて集めると200万円を超える金額となっており、慎重に管理することが求められます。</p>
			<p class="blog-parlevel2-text">　また、文実は文化祭に出展する各デコの補助金も自治会・生徒会から受け取り、決算時に自治会に提出する会計報告書のとりまとめもしています。会計報告書にはレシートを張り付けてもらい、適切に補助金が使われているか確認します。</p>
		</div>
		<h2 class="blog-parlevel2-headline">文実販売</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　文化祭実行委員会では、デコに必要ないくつかの品目に関して、一括で購入して格安で販売しています。近くの店舗に行く必要がなく便利なため、文化祭前には多くの行列ができます。文実販売で販売しているのは釘、マスキングテープ、養生テープなどです。</p>
		</div>
		<h2 class="blog-parlevel2-headline">おわりに</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　財務部門仕事すくなっ！と思った方が多いかもしれません。まあ一人部門なんで仕方ないんですけどね。。。仕事が少ないですが責任は重いといえるかもしれません。</p>
			<p class="blog-parlevel2-text">　ちなみに、これを書いてる人は印刷部門長も兼任してるので、2日連続でブログの記事書いてます。めんどくさい。。。<a href="./blog_20171023-2">暇だったら読んでみて下さい。</a></p>
			<p class="blog-parlevel2-text">　愚痴っぽくなってしまいましたが、特別残留期間も始まりテンションがおかしくなりかけているので許してください。<br><br></p>
			<p class="blog-parlevel2-text">　最終回となる次回は庶務部門です。お楽しみに！</p>
		</div>		
		<div class="blog-prev">前の記事：<a href="../../blogs/blog_20171024-1">特別残留期間が始まりました！</a></div>
		<div class="blog-prev">次の記事：<a href="../../blogs/blog_20171026-1">「庶務部門の仕事」【連載】『文実の仕事』第12回</a></div>
		<div class="back-to-top-blog"><a href="../blog">ブログのトップページへ戻る</a></div>
	</div>
</main>
<%- include("../components/_blog-footer.ejs") %>
