<% var pageName = "タイムテーブルのおはなし" %>
<%- include("../components/_blog-header.ejs",{pageName:pageName,path:"blogs/20171023-2"}) %>
<%- include("../components/_blog-menu.ejs",{pageId:"blog"}) %>
<main id="main" class="main-blog-content">
	<div class="blog-tag-name">【文化祭のこだわり】第5回</div>
	<h1 class="blog-parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="blog-parlevel1-content">
		<p class="blog-parlevel1-text">　文化祭に来ると、パンフレットと一緒にぺらぺらした紙を渡されると思います。そこにはいろんな団体の公演が一覧になって載っています。</p>
		<p class="blog-parlevel1-text">　そう、これが「タイムテーブル」です。</p>
		<p class="blog-parlevel1-text">　今日はこのタイムテーブルについて、電力部門長の私から説明していきたいと思います。</p>
		<h2 class="blog-parlevel2-headline">1.とりあえず、ブレーカーが落ちないように〜電力とタイムテーブル〜</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　筑駒でタイムテーブルを組んでいるのは文実の電力担当です。</p>
			<p class="blog-parlevel2-text">　「えっ？」と思う方もいらっしゃるかもしれません。そもそもタイムテーブルは誰かが「組む」ものではなく集計するものだろ！と思う方もいらっしゃるでしょうし、え？なんで電力？と思う方もいらっしゃるでしょう。</p>
			<p class="blog-parlevel2-text">　理由は簡単で、それだけ学校の電力資源が少ないから。これに関しては<a href="./blog_20171021">こちら</a>をご覧ください。学校の電力を最大限活かし、出来るだけ各団体の要望に応えられるように調整するのがタイムテーブル作成の主な目的です。<br><br></p>
			<p class="blog-parlevel2-text">　そのために、まずは各団体の使用する電力を調べます。</p>
			<p class="blog-parlevel2-text">　使用電力を計算して数値化して提出してもらい、Excelに打ち込んでいきます。<br><br></p>
			<p class="blog-parlevel2-text">　さらに、学校の配電盤を開けて上限も確認していきます。上限はなかなか厳しい数になっているので、それを考えつつコンセントに割り振っていき、それと同時にタイムテーブルを確定させていきます。</p>
		</div>
		<h2 class="blog-parlevel2-headline">2.みんなが出演できるように〜タイムテーブル希望調査〜</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　筑駒文化祭では、様々な仕事を兼任することが常です。演劇のキャストをした後にステージに出演したり、委員会の仕事を終えた後に実験ショーに出演したり。</p>
			<p class="blog-parlevel2-text">　そうなると、無計画にタイムテーブルを組めば、ダブルブッキングが多発します。</p>
			<p class="blog-parlevel2-text">　学校の人数が少ない筑駒では致命的な問題となってしまいます。<br><br></p>
			<p class="blog-parlevel2-text">　ならばどうするか。</p>
			<p class="blog-parlevel2-text">　タイムテーブルの希望調査をとります。</p>
			<p class="blog-parlevel2-text">　内容は「この時間にやりたい」「〇〇団体の〇〇公演とキャストが被るから一緒の時間にしないで欲しい」「1日に何回公演したい」など。</p>
			<p class="blog-parlevel2-text">　こういう各団体の希望の情報をもとに、電力事情を考慮しつつ、タイムテーブルを作成していきます。</p>
			<p class="blog-parlevel2-text">　この希望を反映した時点で、大体タイムテーブルの概形は確定することになります。</p>
			<div class="blog-img"><img src="../assets/img/blog-img/20171030-1-1.jpg" alt="20171030-1 画像"></div>
		</div>
		<h2 class="blog-parlevel2-headline">3.学校が狭い！〜行列形成とタイムテーブル〜</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　さて、ここでタイムテーブルは完成！と思いきやそうではありません。公演前に並ぶ行列のことを考えます。</p>
			<p class="blog-parlevel2-text">　なぜか、それは校舎が狭いからです。</p>
			<p class="blog-parlevel2-text">　筑駒の校舎は特に廊下・階段が狭く、3人が並んで歩くのがやっとです。</p>
			<p class="blog-parlevel2-text">　そこで行列が被ったらどうなるでしょうか。当然、その廊下・階段は実質的に封鎖されたようになってしまいます。それではお客様が困るだけでなく、その先にある団体に行くことができなくなり、デコの集客に差が出てしまいます。そのため、タイムテーブルを調整することで行列が被らないようにします。<br><br></p>
			<p class="blog-parlevel2-text">　ここでお願いがあります。</p>
			<p class="blog-parlevel2-text">　いくら行列を調整するといってもそもそも列がぐちゃぐちゃしていると廊下の通行ができなくなります。ですので、できるだけ壁によって一列で並んでください。よろしくお願いします。</p>
		</div>
		<h2 class="blog-parlevel2-headline">4.タイムテーブルの見方</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　タイムテーブルはHPまたは当日配布される紙にて確認できます。</p>
			<p class="blog-parlevel2-text">　おすすめは、回り始める前に予定を立てることです。</p>
			<p class="blog-parlevel2-text">　多くの公演は一日に数回しかなく、昼過ぎに見たかったのに……となることもしばしばです。また、満員で入れません！ということも。</p>
			<p class="blog-parlevel2-text">　そのため、この公演は見よう！という公演をいくつか決めることをお勧めします。公演をしない展示団体に関してはその間で見ることにして、時間が決まっている公演を中心に動くと文化祭を満喫できるかと思います。</p>
			<p class="blog-parlevel2-text">　公演は一部例外を除き10分前からの入場になりますので、注意してください。時間に少し余裕をもって、文化祭を楽しんでください。<br><br><br></p>
			<p class="blog-parlevel2-text">　それでは、文化祭でお会いしましょう！</p>
		</div>
		<div <div class="blog-prev">前の記事：<a href="../../blogs/blog_20171028">「文化祭サイトのおはなし」【連載】『文化祭のこだわり』第4回</a></div>
		<div class="blog-prev">次の記事：<a href="../../blogs/blog_20171030-2">「震災時対応のおはなし」【連載】『文化祭のこだわり』第6回</a></div>
		<div class="back-to-top-blog"><a href="../blog">ブログのトップページへ戻る</a></div>
	</div>
</main>
<%- include("../components/_blog-footer.ejs") %>
