<% var pageName = "総務部門の仕事" %>
<%- include("../components/_blog-header.ejs",{pageName:pageName,path:"blogs/20171014"}) %>
<%- include("../components/_blog-menu.ejs",{pageId:"blog"}) %>
<main id="main" class="main-blog-content">
	<div class="blog-tag-name">【連載】『文実の仕事』第2回</div>
	<h1 class="blog-parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="blog-parlevel1-content">
		<p class="blog-parlevel1-text">　こんにちは、総務部門長です。今回は連載「文実の仕事」第2回目、総務部門に関しての記事です。</p>
		<div class="blog-section-line"></div>
		<p class="blog-parlevel1-text">　総務部門は、HRや部活など文化祭で出し物をする団体(これらを「デコレーション」の略称をとって「デコ」と呼んでいます)の作業を手助けする部門です。具体的には以下の3つの仕事がメインになります。</p>
		<h2 class="blog-parlevel2-headline">総務部門の仕事 ー デコ責会議</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　文化祭を行う上では、30にものぼる沢山の書類が必要となる上に、文実からの細かい連絡も漏らさず伝えなくてはなりません。そのため、デコの責任者(略して「デコ責」)と文実が集まって連絡を行う「デコ責会議」を総務部門で運営しています。</p>
			<p class="blog-parlevel2-text">　この「デコ責会議」で各部門の書類を受け取ったり、提出物の締め切りの告知をしたりすることで、滞りなく文化祭準備が進むよう取り計らうことが総務部門の主な仕事の一つとなっています。</p>
		</div>
		<h2 class="blog-parlevel2-headline">総務部門の仕事 ー 見回り</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　各デコから提出してもらった書類をもとに、デコの内容、文化祭準備の進捗、外装・内装の安全性などをチェックする仕事です。デコ責と何度も話し合いを重ねながら進めていきます。</p>
			<p class="blog-parlevel2-text">　その他にも、各デコからの申請に対応したり作業の様子を直接確認したりと、デコ責と綿密に連絡を取り合いながらバックアップをしています。</p>
		</div>
		<h2 class="blog-parlevel2-headline">総務部門の仕事 ー 文実の窓口</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　文化祭準備を行う中では、どのデコでも「ここはどうしたらよいんだろう？」「ここはルールに合っているんだろうか？」といった疑問が生まれるものです。このようなデコからの質問に答えたり、直接答えられない場合は詳しい人を紹介したりと、文実の窓口のような役割をすることも総務部門の重要な仕事です。</p>
		</div>
		<h2 class="blog-parlevel2-headline">終わりに</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　総務部門は全部で5人も委員がいる大きな部門ですが、当日目に見えるところにはっきりと成果が見えるわけではありません。</p>
			<p class="blog-parlevel2-text">　あくまで私達の目標は、すべてのデコが文化祭当日までに開場できる状態になっていることです。もちろん、これはそれぞれのデコの努力によるところが大部分ですが、それをしっかりと手助けし、見届けてはじめて私達の仕事は成功ということができます。</p>
			<p class="blog-parlevel2-text">　文化祭まで残り20日です。まだどうなるかわからない団体もたくさんありますが、きっとみんな成功してくれると信じています。</p>
			<p class="blog-parlevel2-text">　文化祭にいらっしゃった際には、色々なデコを見て回ってあげてください。みんなの努力が詰まった、とても面白いものになっているはずです。</p>
		</div>
		<div class="back-to-top-blog"><a href="../blog">ブログのトップページへ戻る</a></div>
	</div>
</main>
<%- include("../components/_blog-footer.ejs") %>