<% var pageName = "器材移動のおはなし" %>
<%- include("../components/_blog-header.ejs",{pageName:pageName,path:"blogs/20171023-2"}) %>
<%- include("../components/_blog-menu.ejs",{pageId:"blog"}) %>
<main id="main" class="main-blog-content">
	<div class="blog-tag-name">【文化祭のこだわり】第7回</div>
	<h1 class="blog-parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="blog-parlevel1-content">
		<p class="blog-parlevel1-text">　気づけば文化祭まであと1週間を切りました。</p>
		<p class="blog-parlevel1-text">　「文化祭のこだわり」第七回は器材移動について紹介していきます。<br></p>
		<h2 class="blog-parlevel2-headline">器材移動</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　<a href="">器材部門の記事</a>で紹介したように、普段生徒たちが使用している机や椅子、教卓などの「一般器材」は文化祭では演劇や展示で使用される器材になります。</p>
			<p class="blog-parlevel2-text">　そして一般器材の個数は計2556個にものぼります。</p>
			<p class="blog-parlevel2-text">　筑駒では文化祭の前々日まで通常授業があるため、それまで一般器材を移動することはできません。</p>
			<p class="blog-parlevel2-text">　つまり、2556個もの一般器材を使用される教室に短時間で移動させる必要があるのです。</p>			
		</div>
		<h2 class="blog-parlevel2-headline">移動の準備</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　器材移動は文化祭前々日の放課後に1時間ほどで行われます。2556個もの器材を短時間で移動させるのはとても大変です。</p>
			<p class="blog-parlevel2-text">　そのため器材部門では器材移動を円滑にするために日夜努力しています。</p>
			<p class="blog-parlevel2-text">　ここからはそんな器材移動の準備について紹介したいと思います。</p>
			<h3 class="blog-parlevel3-headline">在庫の調査</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　まずは校内にある器材の個数を種類ごとに調査します。この調査は器材部門が各教室をまわって行います。</p>
			</div>
			<h3 class="blog-parlevel3-headline">器材移動表の作成</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　器材の在庫の確認を終えると、各団体が使用を希望している器材の個数を調査します。</p>
				<p class="blog-parlevel3-text">　次に調査結果をもとに各団体が使用できる器材を割り振ります。</p>
				<p class="blog-parlevel3-text">　そして器材移動の際にどの教室からどの教室へ、どの団体が移動させるのかを決めます。</p>
				<p class="blog-parlevel3-text">　それを表にまとめ「器材移動表」を作成します。この作業はデータの入力ミスなどが起きやすいので何度も確認する必要があります。</p>
			</div>
			<h3 class="blog-parlevel3-headline">ラベル貼り</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　器材移動表が完成してもまだ準備は終わりではありません。</p>
				<p class="blog-parlevel3-text">　このままではある団体が使うはずだった器材を別の団体が誤って持って行ってしまう場合があります。</p>
				<p class="blog-parlevel3-text">　そこで、全ての一般器材にこのようなラベルを貼っています。</p>
				<div class="blog-img"><img src="../assets/img/blog-img/20171030-1-3.png" alt="20171030-3 画像"></div>
				<p class="blog-parlevel3-text">　このラベルを2556個の一般器材に貼る仕事は器材部門の4人のみで行なっているので非常に大変です。ただ、器材移動を円滑に行うためには必要な仕事であり、また、正確性を問われる仕事なので一つ一つ丁寧に行います。</p>
			</div>
		</div>
		<h2 class="blog-parlevel2-headline">さいごに</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　こうした地道な作業の結果は前々日の器材移動で出ます。器材移動が何の問題もなく終わることを祈るばかりです。。。</p>
		</div>
		<div class="blog-prev">前の記事：<a href="../../blogs/blog_20171030-2">「」【連載】『文化祭のこだわり』第5回</a></div>
		<div class="back-to-top-blog"><a href="../blog">ブログのトップページへ戻る</a></div>
	</div>
</main>
<%- include("../components/_blog-footer.ejs") %>
