<% var pageName = "ゲートのおはなし" %>
<%- include("../components/_blog-header.ejs",{pageName:pageName,path:"blogs/20171023-2"}) %>
<%- include("../components/_blog-menu.ejs",{pageId:"blog"}) %>
<main id="main" class="main-blog-content">
	<div class="blog-tag-name">【文化祭のこだわり】第7回</div>
	<h1 class="blog-parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="blog-parlevel1-content">
		<p class="blog-parlevel1-text">　どうも、お久しぶりです。忘れたころにやってくる、装飾部門長です。いや、もはや覚えられてもいないか…</p>
		<p class="blog-parlevel1-text">　いよいよ文化祭もすぐそこまで迫ってきて、まだ全然作業が終わってないことに大変焦っているところでございます。<br><br></p>
		<p class="blog-parlevel1-text">　さて、装飾の進捗は置いておいて、本題に入りましょう。</p>
		<p class="blog-parlevel1-text">　前回の私の記事（【連載】『文実の仕事』第４回：装飾部門の仕事）をご覧になった方はざっと装飾部門がどんなことをしているのか把握できたと思います。</p>
		<p class="blog-parlevel1-text">　しかし、その詳細についてはまだわからないことだらけだと思います。</p>
		<p class="blog-parlevel1-text">　ということで、二大装飾物「ゲート」と「垂れ幕」をさらに詳しく取り上げることにしました！</p>
		<p class="blog-parlevel1-text">　今回は前半戦の「ゲート」についてです。</p>
		<h2 class="blog-parlevel2-headline">１．新しいものを</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　昨年いらっしゃった方はご存知だと思いますが、昨年までは「ツインタワー」という入場口の左右に高さ約４ｍの12角柱のタワーを作る、というものでした。</p>
			<div class="blog-img"><img src="../assets/img/blog-img/20171030-3-1.jpg" alt="20171030-3 画像"></div>
			<p class="blog-parlevel2-text">　昨年までは、と言いましたが、実はツインタワーは2013年からのものでして、その前の３年間は「アーチ」を作っていました。</p>
			<p class="blog-parlevel2-text">　アーチからツインタワーへと移行した経緯として救急車・消防車などの緊急車両が通行できる幅・高さ確保の問題や生徒の負担の大きさなどがありました。</p>
			<p class="blog-parlevel2-text">　1年前の2016年11月、先輩から代を引き継ぎ、装飾部門としての方針を決めることになり、そこで「アーチ形状の新しい校門装飾」を大きな目標として設定しました。<br><br></p>			
			<p class="blog-parlevel2-text">　「新しいものを」という考えのもと、私たちは走り出しました。</p>
		</div><h2 class="blog-parlevel2-headline">２．試行錯誤</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　その後3月まで過去のアーチの形状や他校の校門装飾の研究と新しい構造の検討を繰り返しました。</p>
			<p class="blog-parlevel2-text">　3ds MAXというプロユースの3Dソフトを使用し、3DCGで考えた構造を作り、修正をしたり没にしたり。そんなことを繰り返しました。</p>
			<div class="blog-img"><img src="../assets/img/blog-img/20171030-3-2.jpg" alt="20171030 画像"></div>
			<p class="blog-parlevel2-text">　4月に入り、新年度がスタートすると先生方とも相談し本格的にプロジェクトを動かし始め、5月に構造が固まり、6月に「ゲート」として許可がおりました。<br><br></p>
			<p class="blog-parlevel2-text">　先生方に許可をいただく、という大きな山を越えました。しかし、まだまだ完成への道のりは長いのです…</p>
		</div>
		<h2 class="blog-parlevel2-headline">３．試作</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　ツインタワーの場合は基本の構造が毎年ほぼ変わらないため、いきなり製作に入ります。しかし今年は新しい「ゲート」というもので一度その構造を確かめておく必要がありました。</p>
			<p class="blog-parlevel2-text">　夏休みの終わりに土台部を一度作り、大きさを修正した上で9月に土台と、さらに上部も試作しました。</p>
			<div class="blog-img"><img src="../assets/img/blog-img/20171030-3-3.jpg" alt="20171030-3 画像"></div>
			<p class="blog-parlevel2-text">　しかし、校門回りの地面の凹凸が激しいこともあり、ゆがみが出てしまい、修正が必要であるとわかり、設計しなおしました。<br><br></p>
			<p class="blog-parlevel2-text">　さぁ、いよいよ本番で設置するものを作る段階です。</p>
		</div>
		<h2 class="blog-parlevel2-headline">４．切り出し・塗装</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　必要な木材の長さを書きだし、3日ほどかけて切り出しました。</p>
			<p class="blog-parlevel2-text">　切り出しは意外と楽なのですが、大変なのが塗装です。広報部門に創ってもらったデザインをもとに塗っていきます。ペンキによる色の再現や境界線を書くという技術が必要とされ、時間がとてもかかります。</p>
			<p class="blog-parlevel2-text">　前々日準備の際にゲートの土台を組み立てたあと、最後の修正にかなりの時間をかけ仕上げます。</p>
			<p class="blog-parlevel2-text">　当日、皆さんが間近で見てもきれいだな、美しいな、と感じるような完成度を目指していきます。</p>
		</div>
		<h2 class="blog-parlevel2-headline">５．当日</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　あと4日で文化祭です！</p>
			<p class="blog-parlevel2-text">　実はゲートは安全のため毎晩文化祭終了後上部を下ろし、毎朝上げています。当日の朝まで調整は終わりません。</p>
			<p class="blog-parlevel2-text">　ステージやお祭り広場に行きたい気持ちはわかりますが、当日は校門をあっさり通りすぎずにゲートの方に目をむけていただければ幸いです。あと垂れ幕も！<br><br></p>
			<p class="blog-parlevel2-text">　1年かけた一大プロジェクト「ゲート」、完成をお楽しみに！</p>
		</div>
		<div class="blog-prev">前の記事：<a href="../../blogs/blog_20171030-2">「」【連載】『文化祭のこだわり』第5回</a></div>
		<div class="back-to-top-blog"><a href="../blog">ブログのトップページへ戻る</a></div>
	</div>
</main>
<%- include("../components/_blog-footer.ejs") %>
