<% var pageName = "パンフレットのおはなし" %>
<%- include("../components/_blog-header.ejs",{pageName:pageName,path:"blogs/20171023-2"}) %>
<%- include("../components/_blog-menu.ejs",{pageId:"blog"}) %>
<main id="main" class="main-blog-content">
	<div class="blog-tag-name">【文化祭のこだわり】第11回</div>
	<h1 class="blog-parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="blog-parlevel1-content">
		<p class="blog-parlevel1-text">　文化祭まであと2日！！</p>
		<p class="blog-parlevel1-text">　団体もお客さんに最高のものを見せようと最後の追い込みを行い、学校内は文化祭ムード一色です。</p>
		<p class="blog-parlevel1-text">　さて、みなさんが文化祭にご来場するときに、まず受け取るものはなんでしょう？</p>
		<p class="blog-parlevel1-text">　そう、パンフレットですよね。今日はこのパンフレット製作のお話をしていきます。</p>
		<div class="blog-img"><img src="../assets/img/blog-img/20171101-2-1.jpg" alt="20171101-1 画像"></div>
		</div>
		<h2 class="blog-parlevel2-headline">文化祭の情報誌/パンフレット</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　みなさんが文化祭に来て、(さあ、何を見ようか? )となった時にまず参考にするのがパンフレットでしょう。いわば「文化祭の情報誌」ですよね。</p>
			<p class="blog-parlevel2-text">　こんなにたくさんの情報が詰まったパンフレットですが、まずは「何をどこに載せるか？」から検討し始めます。パンフレットに載せる情報は膨大です。団体ごとの紹介はもちろん、校内地図、食事のご案内…　どう配置するのが一番見やすいか…を検討します。</p>
			<p class="blog-parlevel2-text">　ページが決定したら、いよいよデータ作成です。団体紹介などを除きほぼ全てのページを高２広報担当の2人で仕上げます。総制作時間は100時間超、制作フォルダのデータサイズは11GBを超える大作になりますが、今年度もなんとかして仕上げました</p>
			<p class="blog-parlevel2-text">　ここである１ページの制作過程を見てみましょう。</p>			
		</div>
		<h2 class="blog-parlevel2-headline">刻々と増えていく情報…</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　まずはテンプレートを作成し、文字の情報を入れていきます。</p>
			<div class="blog-img"><img src="../assets/img/blog-img/20171101-2-2.png" alt="20171101-1 画像"></div>
			<div class="blog-img"><img src="../assets/img/blog-img/20171101-2-3.jpg" alt="20171101-1 画像"></div>
			<p class="blog-parlevel2-text">　次いでマップを作成します。このページに必要な「マップの情報」を取捨選択しながら、提供される食品のデータなどを入れていきます。</p>
			<p class="blog-parlevel2-text">　こうしてみると簡単に思えるかもしれませんが、適宜修正を加えて校正していくので、さらに版を重ねていきます。こうしてみなさんにお見せするページが出来上がります。</p>
		</div>
		<h2 class="blog-parlevel2-headline">パンフレットを少しだけ、めくってみよう。</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　それでは、パンフレットのあるページの制作過程を紹介したところで、実際にパンフレットの最初のページをめくってみましょう。</p>
			<div class="blog-img"><img src="../assets/img/blog-img/20171101-2-4.jpg" alt="20171101-1 画像"></div>
			<p class="blog-parlevel2-text">　最初のページは今年度のテーマ紹介。テーマ決定の秘話は<a href="../blogs/blog_20171026-2">第1回「メインビジュアルのお話」</a>をご覧ください。「何が起こるか、わからない」という言葉に、文化祭を成功させたいという強い思いを込めました。</p>
			<p class="blog-parlevel2-text">　このように、パンフレットの各ページには広報担当の思いが詰まっています。各ページからその思いを感じていただければ幸いです。</p>
		</div>
		<h2 class="blog-parlevel2-headline">と、最後にお気づきの方もいるかも…</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　本校の文化祭に昨年お越しいただいた方ならわかるかもしれませんが、今年はなんと、パンフレットのサイズが例年より小さくなりました。B5サイズをA5サイズに変更し、よりハンディに作り上げています。昨年度までと一味違ったパンフレットを是非お楽しみください。</p>
			<p class="blog-parlevel2-text">　というわけでパンフレットのお話でした。パンフレットの見方が少し変わりましたでしょうか？</p>
			<p class="blog-parlevel2-text">　今年度のパンフに是非、ご期待ください。</p>
		</div>
		<div class="blog-prev">前の記事：<a href="../../blogs/blog_20171101-1">「器材移動のおはなし」【連載】『文化祭のこだわり』第10回</a></div>
		<div class="back-to-top-blog"><a href="../blog">ブログのトップページへ戻る</a></div>
	</div>
</main>
<%- include("../components/_blog-footer.ejs") %>
