<% var pageName = "印刷部門の仕事" %>
<%- include("../components/_blog-header.ejs",{pageName:pageName,path:"blogs/20171023-2"}) %>
<%- include("../components/_blog-menu.ejs",{pageId:"blog"}) %>
<main id="main" class="main-blog-content">
	<div class="blog-tag-name">【連載】『文実の仕事』第10回</div>
	<h1 class="blog-parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="blog-parlevel1-content">
		<p class="blog-parlevel1-text">　こんばんは、印刷部門長です。第10回では印刷部門について紹介します。</p>
		<h2 class="blog-parlevel2-headline">印刷部門ってなに？</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　印刷部門と聞いて皆さんはどのような印象を受けるでしょうか？</p>
			<p class="blog-parlevel2-text">　暗い、地味、つまらない、さまざまな形容詞を思い浮かべるかもしれません。<br></p>
			<p class="blog-parlevel2-text">　全部あってます。印刷部門はその名の通り、デコから依頼された印刷物をただただ印刷していくだけの部門です。（笑）<br></p>
			<p class="blog-parlevel2-text">　構成員は高１と高2が1人ずつの合計2人、と少数でやってます。</p>
		</div>
		<h2 class="blog-parlevel2-headline">なにを印刷するの？どーやって？</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　印刷部門では、文化祭当日に文実本部となっている週番室にある輪転機２台を学校からお借りして原稿を印刷していきます。輪転機では最大分速180枚で刷ることができ、一般的なプリンターとは比べ物にならないほど早く印刷できます。</p>
			<div class="blog-img"><img src="../assets/img/blog-img/20171023-2-1.jpg" alt="20171023-2 画像"></div>
			<p class="blog-parlevel2-text">　主に依頼される原稿はページ数、部数ともに多い部誌が中心です。文化祭当日に部誌をもらったらじっくり見てみてください。たぶん質の悪そうなわら半紙に印刷されていると思います。（笑）</p>
			<p class="blog-parlevel2-text">　ちなみに輪転機は印刷をするのに基本的に紙とインク、マスターが必要なのですが、それらはすべて文化祭実行員会が用意することになっています。</p>
			<p class="blog-parlevel2-text">　なお、「マスター」というのは薄い和紙の上にフィルムを張り付けたシートで、印刷する原稿を転写するものです。</p>
		</div>
		<h2 class="blog-parlevel2-headline">輪転機ってどーなってるの？</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　「ガリ版」印刷に始まった孔版印刷と呼ばれる印刷方法は、次のように行われます。</p>
			<h3 class="blog-parlevel3-headline">1.読み取り</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　原稿をセットして、製版スタートキーを押すと、光が原稿をなぞって原稿パターンをドットパターンに変換し、製版部に送ります。</p>
				<p class="blog-parlevel3-text">　機種によってはデータから直接印刷できるものもあるそうですが週番室にある機種は古いバージョンのものなのでそんな高度なことはできません。。。</p>
			</div>
			<h3 class="blog-parlevel3-headline">2.製版</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　マスター（版）のフィルム面は、熱の力によって原稿どおりに穴をあけられ、ドラムに巻き付けられます。</p>
			</div>
			<h3 class="blog-parlevel3-headline">3.印刷</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　ドラムは、蜂の巣状に穴があけられたステンレスの板で、さらにその上から目の細かい布が巻き付けられています。</p>
				<p class="blog-parlevel3-text">　ドラムの内側からインクローラーがインクを押し出して、マスターの原稿パターンに沿って押し出され、原稿パターンを紙に転写します。</p>
			</div>
			<h3 class="blog-parlevel3-headline">4.浸透・乾燥</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　紙に転写されたインクは繊維に沿って浸透し、前の紙の上に着地するまでに乾燥します。</p>
			</div>
		</div>
		<h2 class="blog-parlevel2-headline">印刷制度について</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　文実印刷には2種類があります。</p>
			<h3 class="blog-parlevel3-headline">1.大口印刷</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　その名の通り比較的印刷量が多い場合にはこちらの大口印刷に当てはまります。</p>
				<p class="blog-parlevel3-text">　具体的には1万単位（1単位とは紙1面分のこと）以上の場合で、締め切りが早く設定されています。これはデコ側にとっては冊子にするのに時間がかかる上に文実側にとっても時間がかかるためです。</p>
				<p class="blog-parlevel3-text">　ちなみに、この記事が公開されている頃には大口印刷が終わりかけていることでしょう。</p>
			</div>
			<h3 class="blog-parlevel3-headline">2.一般印刷</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　大口印刷に当てはまらない比較的少ない量の印刷物は一般印刷として取り扱われます。</p>
				<p class="blog-parlevel3-text">　例年一般印刷を印刷し始めるころには印刷にも慣れてきてかなりのスピードで印刷できるようになります。</p>
			</div>
		</div>
		<h2 class="blog-parlevel2-headline">終わりに</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　ここまで聞いていると文化祭よりだいぶ前に印刷部門としての仕事が終わるように思うかもしれません。<br></p>
			<p class="blog-parlevel2-text">　その通りです。印刷部門は印刷業務が終わるとマンパワーが必要な装飾部門やSCC部門のお手伝い人員となります。<br></p>
			<p class="blog-parlevel2-text">　どうだったでしょうか。印刷部門は地味で文化祭には直接的にはあまりかかわっていないように映るかもしれません。しかし外注するよりも圧倒的に安い文実印刷はデコ側の負担を確実に減らしている縁の下の力持ち的な存在だと思っています。</p>
			<p class="blog-parlevel2-text">　ぜひ文化祭へお越しください！そして今年の印刷部門の成果をじっくりと見てみてください！<br><br></p>
			<p class="blog-parlevel2-text">　次回は財務部門です。お楽しみに！</p>
		</div>		
		<div class="blog-prev">前の記事：<a href="../../blogs/blog_20171023-1">「電波部門の仕事」【連載】『文実の仕事』第9回</a></div>
		<div class="blog-prev">次の記事：<a href="../../blogs/blog_20171024-1">特別残留期間が始まりました！</a></div>
		<div class="back-to-top-blog"><a href="../blog">ブログのトップページへ戻る</a></div>
	</div>
</main>
<%- include("../components/_blog-footer.ejs") %>
