<% var pageName = "そもそも文実って？" %>
<%- include("../components/_blog-header.ejs",{pageName:pageName,path:"blogs/20171011"}) %>
<%- include("../components/_blog-menu.ejs",{pageId:""}) %>
<main id="main" class="main-blog-content">
	<div class="blog-tag-name">【連載】『文実の仕事』第1回</div>
	<h1 class="blog-parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="blog-parlevel1-content">
		<p class="blog-parlevel1-text">　<span class="blog-strong">文化祭まで残り23日！</span><br>　徐々に陽が落ちるのも遅くなり、暗がりに蛍光灯が煌々と照っています。</p>
		<div class="blog-img"><img src="../assets/img/blog-img/20171011-1.jpg" alt="20171011 画像"></div>
		<p class="blog-parlevel1-text">　文化祭が近づくにつれ、様々な団体が夜遅くまで活動するようになりました。活動内容は団体によって木工作業から演劇練習まで様々ですが、どのクラスも活気付いています。</p>
		<p class="blog-parlevel1-text">　彼らに負けじと、今日から文実ブログも本格始動いたします！</p>
		<div class="blog-section-line"></div>
		<p class="blog-parlevel1-text">　さて、今回から「文実の仕事」という題で、文化祭実行委員会の活動内容について13本の連載でお伝えしていきます。</p>
		<h2 class="blog-parlevel2-headline">「文実」とは？</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　まずは、「文実」とはなんぞや、というところから。<br>　文化祭実行委員会、通称「文実」は、文化祭の運営・準備をしている委員会で、中1から高2の計42名で構成されています。</p>
			<p class="blog-parlevel2-text">　文実の仕事は当日の運営と文化祭準備でそれぞれ多岐にわたります。</p>
		</div>
		<h2 class="blog-parlevel2-headline">文実の仕事 ー 運営</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　文化祭当日、ピンク色のパーカーを着ている生徒たちが文実のメンバーです。文実のメンバーは当日も様々な仕事をしています。<br>以下、文実の仕事の一部をご紹介いたします。</p>
			<h3 class="blog-parlevel3-headline">1.人員整理</h3>
			<div class="blog-parlevel3-content"><p class="blog-parlevel3-text">　ステージの人気企画や、お昼時の食事スペースには非常に多くの来校者の方が集まり、人が溢れてしまいます。このような混雑時には文実が人員整理を行います。沢山の人にご利用いただくために移動をお願いする場合もありますので、ご協力お願いいたします。</p></div>
			<h3 class="blog-parlevel3-headline">2.行列整理</h3>
			<div class="blog-parlevel3-content"><p class="blog-parlevel3-text">　コント・演劇を見る方や屋台でご飯を買う方が多くいらっしゃった際には長い行列ができてしまいます。その際には、列に合わせてコーンやチェーンを使って行列を整理します。行列に並ぶ際は、できるだけ詰めてお並びください。</p></div>
			<h3 class="blog-parlevel3-headline">3.見回り</h3>
			<div class="blog-parlevel3-content"><p class="blog-parlevel3-text">　校内で何か問題が起きていないか、文実が見回りを行っています。何かありましたら遠慮なくお声掛けください。また、公演終了後に退出誘導を行うこともあり、皆さんが一番よく見かける文実の仕事かもしれません。</p></div>
			<h3 class="blog-parlevel3-headline">4.受付</h3>
			<div class="blog-parlevel3-content"><p class="blog-parlevel3-text">　「総合案内所」「インフォメーションターミナル」といった案内所を設けています。「〇〇に行くにはどうすればいいの？」「ご飯を買うにはどうすればいいの？」など、ちょっとしたことでも遠慮なくご質問ください。</p></div>
		</div>
		<h2 class="blog-parlevel2-headline">文実の仕事 ー 準備</h2>
		<div class="blog-parlevel2-content">
			<div class="blog-parlevel2-text"><p class="blog-parlevel3-text">　文化祭準備時、文実は11の部門に分かれて作業を行っています。部門には、<br>・総務<br>・広報<br>・装飾<br>・SCC<br>・審査<br>・器材<br>・電力<br>・電波<br>・印刷<br>・財務<br>・庶務<br>の計11部門があります。</p></div>
			<div class="blog-parlevel2-text"><p class="blog-parlevel3-text">　次回の更新以降、それぞれの部門長から各部門の仕事について紹介していきます。</p></div>
			<div class="blog-parlevel2-text"><p class="blog-parlevel3-text">　それでは、次回の更新をお待ちください。</p></div>
		</div>
		<div class="blog-prev">前の記事：<a href="../../blogs/blog_20171003">ブログを開設しました！</a></div>
		<div class="blog-next">次の記事：<a href="../../blogs/blog_20171014">「総務部門の仕事」【連載】『文実の仕事』第2回</a></div>
		<div class="back-to-top-blog"><a href="../blog">ブログのトップページへ戻る</a></div>
	</div>
</main>
<%- include("../components/_blog-footer.ejs") %>