<% var pageName = "庶務部門の仕事" %>
<%- include("../components/_blog-header.ejs",{pageName:pageName,path:"blogs/20171023-2"}) %>
<%- include("../components/_blog-menu.ejs",{pageId:"blog"}) %>
<main id="main" class="main-blog-content">
	<div class="blog-tag-name">【連載】『文実の仕事』第12回</div>
	<h1 class="blog-parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="blog-parlevel1-content">
		<p class="blog-parlevel1-text">　部門紹介もこれで最後になりました。今回は庶務部門です。<br><br></p>
		<p class="blog-parlevel1-text">　「庶務」と言われて想像する仕事は何でしょうか…？<br></p>
		<p class="blog-parlevel1-text">　雑用？運営？だいたい当たりですね。<br>　庶務は基本的に他のどの部門にも属さない仕事を請け負い、さらに文化祭実行委員会の運営も行います。</p>
		<h2 class="blog-parlevel2-headline">統計してます</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　どの部門にも属さず庶務部門が請け負った仕事は2つあります。統計とメッセです。どちらも去年から始まった仕事です。</p>
			<p class="blog-parlevel2-text">　統計はその名の通り、アンケート調査と、時間帯ごとの混雑状況の調査を行っています。それをもとに来年度の文化祭をよりよくしていきます。</p>
			<h3 class="blog-parlevel3-headline">アンケート調査</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　アンケート調査は、校門付近とインフォメーションターミナルで行っています。また、アンケート実施に伴い、景品の作成も行っています。昨年度は文化祭のテーマに沿ってデザインされたしおりを作成しました。</p>
				<p class="blog-parlevel3-text">　今年はどんなものが景品になるのでしょうか。楽しみにしていてください。</p>
				<p class="blog-parlevel3-text">　また、ぜひアンケートにご協力をお願いします。</p>
			</div>
			<h3 class="blog-parlevel3-headline">混雑状況調査</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　混雑状況調査はお祭り広場・朝日の広場などで行っています。</p>
				<p class="blog-parlevel3-text">　それぞれの場所に配置された高校文実が、トランシーバーを使って、１時間おきに観客数・列の長さを文実本部に報告します。しっかり集計を行い、次の年の文化祭運営に活かしています。</p>
			</div>
		</div>
		<h2 class="blog-parlevel2-headline">個性が輝く筑駒メッセ</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　筑駒の文化祭では、基本的に同好会・部・ホームルームのみ、出し物を行っています。しかし、筑駒にはいろいろな方面のマニアが多く、彼らの個性的な活動は公式の団体の枠におさまるものとは限りません。</p>
			<p class="blog-parlevel2-text">　そんな彼らの輝きを知ってもらいたいと思い、この企画が去年から始まりました。</p>
			<p class="blog-parlevel2-text">　今年は成長真っ只中。筑駒メッセのエリアが広がり、幅広い団体・個人が参加し展示しています。ぜひ見に来てください。</p>
		</div>
		<h2 class="blog-parlevel2-headline">筑駒のルールブック＝要綱</h2>
		<div class="blog-parlevel2-content">
			<div class="blog-img"><img src="../assets/img/blog-img/20171026-1-1.jpg" alt="20171026-1 画像"></div>
			<p class="blog-parlevel2-text">　ごみ処理や木材の発注、器材（机や椅子）の配分など多くのことを文実が管理しています。そのために文実は要綱を作成しています。</p>
			<p class="blog-parlevel2-text">　要綱は全部で4つあります。</p>
			<h3 class="blog-parlevel3-headline">準備要綱</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　文化祭準備にあたって必要不可欠な情報をまとめたものです。具体的には、提出が必要な書類についての説明や、準備期間や当日に各デコが守らなければならない規則などが記載されています。</p>
			</div>
			<h3 class="blog-parlevel3-headline">展示要綱</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　大道具の作り方や調べ物の方法など、展示企画を行う団体の準備に必要な情報をまとめたものです。</p>
			</div>
			<h3 class="blog-parlevel3-headline">演劇要綱</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　演劇やパフォーマンスを行う団体の準備に必要な情報をまとめたものです。塗装の方法・キャストの練習方法、また著作権に関する注意事項などが記載されています。</p>
			</div>
			<h3 class="blog-parlevel3-headline">中学文実業務要綱</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　校内を歩いていると、校内図が書かれたパネルや、「orange館」といった現在地の情報が書かれたパネルなど、案内用に作られたパネルをいくつか発見すると思います。これを作るのが中学文化祭実行委員会の仕事の1つです。そんな中学文実が担う仕事のやり方が書かれています。</p>
			</div>
		</div>
		<h2 class="blog-parlevel2-headline">シフト…大変すぎる…</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　文化祭実行委員会は、当日に混雑が予想される場所や総合案内所などで誘導や案内などの仕事を行っています。必要な時間に十分な人数がそろうようにシフトを組んでいます。</p>
			<p class="blog-parlevel2-text">　シフトは5分単位で3日分、計20時間30分を42人分作っています。本当に大変です…。</p>
			<p class="blog-parlevel2-text">　また他にも文実は、文化祭準備中に各団体が使用する釘や模造紙などを予め外部から購入して販売したり、各団体にのこぎりなどの工作道具を貸し出したりしています。この業務についてもシフトを作成し、放課後いつでも販売や貸し出しができる状態にしています。</p>
		</div>
		<h2 class="blog-parlevel2-headline">他校への手紙－外務</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　他の学校に文化祭の案内を送っています。また、それに加えてビラ・ポスター・パンフレットも送っています。同じ高校生や中学生が来てくれるのは、文実としても中高生としても本当にうれしいので、ぜひ来てほしいと思います。</p>
		</div>
		<h2 class="blog-parlevel2-headline">黒子－中学文実</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　中学文実は各学年6人ずつ計18人います。先程の中学文実業務要綱のところでも紹介しましたが、中学文実は、主に校内の標識として使用するパネルなどを作っています。派手な装飾ではありませんが、皆さんが校内を回る時に快適に回ることができるように全力を尽くしています。皆さんがストレスを感じずに校内を回っていただければ、うれしい限りです。</p>
			<p class="blog-parlevel2-text">　シフトは5分単位で3日分、計20時間30分を42人分作っています。本当に大変です…。</p>
			<p class="blog-parlevel2-text">　また他にも高校文実の手伝いにフレキシブルに入っています。中学文実も高校生に負けず大変です…。</p>
		</div>
		<h2 class="blog-parlevel2-headline">最後に</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　軽く庶務部門の仕事の紹介をしました。意外と雑務が多いですね…。他にも庶務部門には運営などまだまだ紹介しきれていない仕事があります。</p>
			<p class="blog-parlevel2-text">　「文実ってどうやって動いているの？」そんな疑問があれば今後のブログを楽しみにしていてください。<br><br><br></p>
			<p class="blog-parlevel2-text">　今回で連載『文実の仕事』は終わりです。今までご愛読ありがとうございました。</p>
			<p class="blog-parlevel2-text">　まだ読んでいない記事がある！という方は、<a href="blog-hub/bunjitsu-work">こちら</a>から記事をご覧いただけます。</p>
			<p class="blog-parlevel2-text">　また、文実ブログはまだまだ続きますので、これからの記事をどうぞご期待ください。</p>
		</div>		
		<div class="blog-prev">前の記事：<a href="../../blogs/blog_20171024-2">「財務部門の仕事」【連載】『文実の仕事』第11回</a></div>
		<div class="blog-prev">次の記事：<a href="../../blogs/blog_20171026-2">「メインビジュアルのおはなし」【連載】『文化祭のこだわり』第1回</a></div>
		<div class="back-to-top-blog"><a href="../blog">ブログのトップページへ戻る</a></div>
	</div>
</main>
<%- include("../components/_blog-footer.ejs") %>
