<% var pageName = "震災時対応のおはなし" %>
<%- include("../components/_blog-header.ejs",{pageName:pageName,path:"blogs/20171023-2"}) %>
<%- include("../components/_blog-menu.ejs",{pageId:"blog"}) %>
<main id="main" class="main-blog-content">
	<div class="blog-tag-name">【文化祭のこだわり】第6回</div>
	<h1 class="blog-parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="blog-parlevel1-content">
		<p class="blog-parlevel1-text">　震災時対応に何が必要か。</p>
		<p class="blog-parlevel1-text">　震災が起こったらどうなるのか。</p>
		<p class="blog-parlevel1-text">　想像するだけでつらい。</p>
		<p class="blog-parlevel1-text">　何が必要か、実際に生徒がどれくらい想定して動いてくれるか、この2つに板挟みにされながら必死に考えました。</p>
		<p class="blog-parlevel1-text">　昨年の震災時対応マニュアルと、ウェブで探した様々な団体の震災時対応マニュアルを参考にし、模索しました。 </p>
		<h2 class="blog-parlevel2-headline">初期段階</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　多くの震災時対応をチェックし、万全なものを作ろうと考えました。大学・会社・自治体etc</p>
			<p class="blog-parlevel2-text">　ここでいくつかの共通点があると思いました。<br></p>
			<p class="blog-parlevel2-text">　　・簡潔である。<br>　　・指示系統を明確である。<br>　　・視覚的に見やすい。 </p>
			<p class="blog-parlevel2-text">　確かに上記の点は重要であると思いました。マニュアルはできるだけいろいろな場合を想定するべきですが、そのすべての場合を想定することは限界があります。しかも、量が膨大になると、マニュアルを読まない人が増えます。ならばどうするか。逆に簡潔にし、各個人に自由度を持たせるべきというのは、絶対的に正解ではないが間違っているとは言えません。また、指示系統を明確にし、視覚的に見やすくすることも大事であると思いました。 </p>
			<p class="blog-parlevel2-text">　これらの点を重視し、マニュアルを作ろうと考えました。</p>
		</div>
		<h2 class="blog-parlevel2-headline">内容検討・作成段階</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　「初期段階」で説明した通り、簡潔にすることで発生する課題があります。</p>
			<p class="blog-parlevel2-text">　自由度を持たせるにしても、現実の判断の質がよくなければ簡潔にするのは逆効果です。ならどうするか。「基本となる考え方を衆知させる」、これが最善策だと考えました。そこで基本となる最優先の事項を考え、それを記載した資料を作ることにしました。</p>
			<p class="blog-parlevel2-text">　優先順位は生徒用なので、パニック防止→避難誘導→傷病者救助→消火、とフローを定めました。傷病者を増やさないということに重きを置きました。</p>
			<p class="blog-parlevel2-text">　ただ、これだけでは実質的に判断の「質」が十分に上がらないと考えました。そこで実際に生徒に行ってもらう、パニック防止と避難誘導について、パニック防止は発生条件と対応時の対応を、避難誘導は対応時の対応を、ウェブ上に上がっている論文などを見てわかりやすくまとめて記載しました。この資料を「生徒対応チャート」と名付けました。</p>
			<p class="blog-parlevel2-text">　他にも具体的な対応を記した「対応マニュアル」と「避難地図」を配布しました。避難地図に関しては、基本的な避難経路と火災時用の別の避難経路を記載しています。</p>
			<p class="blog-parlevel2-text">　震災時対応マニュアルについては、前述通り指示系統をしっかりしたいと思いました。しかし、自分がそう思うだけでは効果がありません。だから、場所ごとに複数人指示をする人を配置し、その人に誘導の監督をしてもらう形にしました。</p>
			<p class="blog-parlevel2-text">　そして、すべての資料で「視覚的にわかりやすく」したいと考え広報に相談をし、作成を行いました。 </p>
			<div class="blog-img"><img src="../assets/img/blog-img/20171030-2-1.jpg" alt="20171030-2 画像"></div>
		</div>
		<h2 class="blog-parlevel2-headline">配布段階</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　「震災時対応マニュアル」は必要な団体に完全版（すべて記載されたもの）を配るのではなく、その団体が必要な部分だけを記載したものを配りました。他の「生徒対応チャート」と「避難地図」に関しては、避難誘導担当者全員に配布しました。</p>
			<p class="blog-parlevel2-text">　また震災時対応レクチャーを行いました。ここでは資料に書ききれなかった部分の説明と資料の重要な部分の説明を行いました。</p>
		</div>
		<h2 class="blog-parlevel2-headline">最後に</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　震災時の対応について説明してきました。</p>
			<p class="blog-parlevel2-text">　皆さんに安心してこの文化祭を回ってもらえれば、震災時対応を作った僕としても本望です。</p>
		</div>
		<div class="blog-prev">前の記事：<a href="../../blogs/blog_20171030-1">「タイムテーブルのおなはし」【連載】『文化祭のこだわり』第5回</a></div>
		<div class="back-to-top-blog"><a href="../blog">ブログのトップページへ戻る</a></div>
	</div>
</main>
<%- include("../components/_blog-footer.ejs") %>
