<% var pageName = "電力部門の仕事" %>
<%- include("../components/_blog-header.ejs",{pageName:pageName,path:"blogs/20171020"}) %>
<%- include("../components/_blog-menu.ejs",{pageId:"blog"}) %>
<main id="main" class="main-blog-content">
	<div class="blog-tag-name">【連載】『文実の仕事』第8回</div>
	<h1 class="blog-parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="blog-parlevel1-content">
		<p class="blog-parlevel1-text">　こんにちは、電力部門長です。突然ですが皆さんのご家庭で、ブレーカーって落ちたこと、ありますか？</p>
		<h2 class="blog-parlevel2-headline">1.ブレーカーを落とさないために〜電力部門の存在意義〜</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　皆さんはたまに「電子レンジとトースターを一緒に使っちゃダメ」と言われたりしませんか？同時に使うと電気が消えちゃう！と言われることもあるでしょう。</p>
			<p class="blog-parlevel2-text">　なぜか。それは一言でいえば「ブレーカーが落ちるから」です。</p>
			<p class="blog-parlevel2-text">　「ブレーカーが落ちる」という現象は、一度に決められた以上の電気を使うことで安全装置であるブレーカーが働き電気を全部シャットアウトしてしまう、という仕組みで起こってしまいます。電力部門は、文化祭中にブレーカーが落ちないように校内中の電力を管理することが主な仕事です。<br></p>				
			<p class="blog-parlevel2-text">　でもきっと皆さんはこうお思いでしょう。<br><br></p>
			<p class="blog-parlevel2-text">　「そんな簡単にブレーカー落ちないでしょ。」</p>
		</div>
		<h2 class="blog-parlevel2-headline">2.学校のブレーカーはすぐ落ちる</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　そう、皆さんはご家庭で普通に生活していれば、ほとんどブレーカーが落ちるという現象に遭遇することはありません。自らの手でブレーカーをあげるということをしたことがない方も多いでしょう。</p>
			<p class="blog-parlevel2-text">　では、なぜそんなにブレーカーを気にしなければならないか。それは、学校の電力資源が限られているからです。<br></p>
			<p class="blog-parlevel2-text">　では、どのくらい限られているか。<br></p>
			<p class="blog-parlevel2-text">　ざっくり言えば、マンション一部屋分の電力が、教室6個分の電力に当たります。<br></p>
			<p class="blog-parlevel2-text">　これがどのくらい苦しいか。<br></p>
			<p class="blog-parlevel2-text">　例をあげましょう。となりの教室でドライヤーを使っている時に、自分のクラスでドライヤーを使い始めるとブレーカーが落ちてしまうくらい、というと深刻さが伝わるでしょうか。</p>
			<p class="blog-parlevel2-text">　しかし、文化祭では展示や演劇をするため、ライトにスピーカー、プロジェクターに蛍光灯と色んなところで色んな電気を使います。無計画に電気を使ってしまうと、文化祭中にブレーカーは落ち放題。演劇中にライトが点かない、なんてことになったら演劇どころではありません。</p>
			<p class="blog-parlevel2-text">　そのため電力部門は、ブレーカーが落ちないように、校内中の電力を把握して、管理しています。</p>
		</div>
		<h2 class="blog-parlevel2-headline">3.電力調査</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　筑駒ではブレーカーが落ちないように、電力使用機材を申請して、文実がそれを管理するシステムをとっています。</p>
			<p class="blog-parlevel2-text">　電力担当は、学校のコンセントがどうつながっているかを考えて電力を配分していきます。<br></p>
			<p class="blog-parlevel2-text">　ここで問題が起こります。</p>
			<p class="blog-parlevel2-text">　それは、「コンセントのどこがどうやってつながっているかを、先生方すらも知らない」ということです。</p>
			<p class="blog-parlevel2-text">　改築に改築を重ねた結果、筑駒が建てられた当初に作られた配電図(コンセントの繋がり方の図)は役に立たず、壁という壁を壊す以外、それを確かめるすべはないのです。</p>
			<p class="blog-parlevel2-text">　ではどうするか。答えは、「電力調査」を行います。つまり、自力で配線図を作成するのです。夏休み、誰もいない校舎で一人電気をつけたり消したりして、文実オリジナル配電図を作成していきます。</p>
			<p class="blog-parlevel2-text">　そのオリジナルの配電図を元に、各参加団体から申請された電力を割り振っていきます。</p>
			<div class="blog-img"><img src="../assets/img/blog-img/20171021-1.jpg" alt="20171021 画像"></div>
		</div>
		<h2 class="blog-parlevel2-headline">4.電力指令とタイムテーブル</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　さて、配線図が完成すると電力指令書と呼ばれる書類で電力を配分していきます。と同時に、演劇団体など時間を区切って公演をする団体の時間(タイムテーブルと呼ばれます)を決めていきます。</p>
			<p class="blog-parlevel2-text">　これらを決める時どんなことを考えているかについては、のちのちブログで更新していきたいと思います。</p>
		</div>
		<h2 class="blog-parlevel2-headline">5.行列形成</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　さて、電力を割り振ってあとはブレーカーが落ちないように祈るだけ、かと思いきや、仕事はまだ残っています。</p>
			<p class="blog-parlevel2-text">　それは、各団体が公演する時間の前に部屋の前にできる「行列」の整理です。</p>
			<p class="blog-parlevel2-text">　筑駒の校舎は廊下が狭かったり、なかったりするところが多く、適当に人が並ぶと、行列と行列が干渉して誰がどこに並んでいたかすぐにわからなくなってしまいます。更には、廊下が人で溢れかえって通行すらできなくなってしまうことも考えられます。そのため、電力部門ではタイムテーブルに合わせて、「ここからここに向けて行列を作ってください」という指令を各団体に向けて作成します。</p>
			<p class="blog-parlevel2-text">各団体の担当者が「こっちに並んでください〜」と叫んでいる光景があちこちで見られますので、できるだけ従ってください。ご協力をよろしくお願いします。</p>
		</div>
		<h2 class="blog-parlevel2-headline">6.終わりに</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　以上電力部門の紹介でした。これで「電力部門ってお前何してるんだよ」「え、スマホ充電しちゃダメなの？」などと言われないようになればなぁと思います。<br><br></p>
			<p class="blog-parlevel2-text">　次回は電波部門です。お楽しみに！</p>
		</div>		
		<div class="blog-prev">前の記事：<a href="../../blogs/blog_20171020">「器材部門の仕事」【連載】『文実の仕事』第7回</a></div>
		<div class="back-to-top-blog"><a href="../blog">ブログのトップページへ戻る</a></div>
	</div>
</main>
<%- include("../components/_blog-footer.ejs") %>
