<% var pageName = "ごみ回収のおはなし" %>
<%- include("../components/_blog-header.ejs",{pageName:pageName,path:"blogs/20171023-2"}) %>
<%- include("../components/_blog-menu.ejs",{pageId:"blog"}) %>
<main id="main" class="main-blog-content">
	<div class="blog-tag-name">【文化祭のこだわり】第2回</div>
	<h1 class="blog-parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="blog-parlevel1-content">
		<p class="blog-parlevel1-text">　こんにちは～。</p>
		<p class="blog-parlevel1-text">　さあ、特別残留期間が始まり、いよいよ文化祭準備が本格化してきました。</p>
		<p class="blog-parlevel1-text">　そうなると、どうしてもでてきてしまうのがゴミです。団体数が多く木材を多用する筑駒では、大量のゴミが出ます。そして、それらの処理は主に文実のSCC部門という、主にゴミ処理を専門とする部門があるほど大変な作業です。<br><br></p>
		<p class="blog-parlevel1-text">　と、いうことで、今回はゴミ処理の裏側について紹介していきたいと思います‼</p>
		<h2 class="blog-parlevel2-headline">１　ゴミの分別</h2>
		<div class="blog-parlevel2-content">
			<div class="blog-img"><img src="../assets/img/blog-img/20171027-1-1.jpg" alt="20171026-2 画像"></div>
			<p class="blog-parlevel2-text">　文化祭準備・片付けでは各団体から非常に多くの特殊なゴミが出るので、通常のごみとして捨てることができません。それらを、きちんと分別して捨てる必要があります。文化祭活動で出る特殊なゴミには、以下のようなものがあります。</p>
			<h3 class="blog-parlevel3-headline">・木材類…角材（小割や垂木棒）,ベニヤ板等</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　これらは、小さいものは可燃ごみと一緒にゴミ箱に入れて処理をします。しかし、ある一定以上の長さで比較的きれいなものは、来年再利用する中古木材として保管しており環境にも気を使っております。</p>
			</div>
			<h3 class="blog-parlevel3-headline">・ペンキ</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　不要になったペンキはペンキ固化剤で固化の上、可燃ごみとして捨ています。</p>
			</div>
			<h3 class="blog-parlevel3-headline">・ねじ・釘・危険物等</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　これらも、しっかりと区の分別方法に従って細かに分けて回収しています。</p>
			</div>
			<h3 class="blog-parlevel3-headline">・生ごみ…喫茶班や食品班の残飯等</h3>
			<div class="blog-parlevel3-content">
				<p class="blog-parlevel3-text">　これらは、二重のゴミ袋に入れたうえで可燃ごみとして回収しております。</p>
				<p class="blog-parlevel3-text">　昔は、校内に穴を掘りそこにゴミを埋めていたのですが、近隣への影響などを考えて現在は行われておりません。</p>
			</div>
		</div>
		<h2 class="blog-parlevel2-headline">２　巨大ゴミ箱</h2>
		<div class="blog-parlevel2-content">
			<div class="blog-img"><img src="../assets/img/blog-img/20171027-1-2.jpg" alt="20171026-2 画像"></div>
			<p class="blog-parlevel2-text">　いくつか上に書いてみましたが、これらのゴミはもちろん普通のゴミ箱で集めたらすぐにゴミ箱がパンクしてしまいます。そこで、筑駒では校内の一角に縦3m横3m高さ2mという巨大なゴミ置き場を設置し、そこで上記に挙げたごみを一括して回収しています。</p>
			<p class="blog-parlevel2-text">　各団体にゴミ分別マニュアルに従ってゴミを分別してもらい、それを一日の最後に持ってきてもらいます。そこで、分別がしっかりできていることをSCC部門とSCC付属委員で確認するという手順になっています。</p>
			<p class="blog-parlevel2-text">　この、ゴミ分別の確認作業ですが、片付け日は非常に忙しくなります。片付けを終えゴミをまとめた団体が次から次へとごみを持ってきて途切れることがありません。大量の敵（ごみ）を相手にSCC委員は過酷な戦いを強いられることになります(笑)。</p>
			<p class="blog-parlevel2-text">　特に、文実のSCC部門の委員は一日中、巨大ゴミ箱前にはりつけられます。片付け日の終わりには、巨大ゴミ箱一杯にゴミが入り、まさにゴミの山です。</p>
		</div>
		<h2 class="blog-parlevel2-headline">３　来場者用ゴミ箱</h2>
		<div class="blog-parlevel2-content">
			<div class="blog-img"><img src="../assets/img/blog-img/20171027-1-3.jpg" alt="20171026-2 画像"></div>
			<p class="blog-parlevel2-text">　当日、来場者の方々が出したゴミを処理するのはSCC付属委員です。文化祭当日ゴミ箱の前に立ちゴミの分別回収を行ってくれます。</p>
			<p class="blog-parlevel2-text">　中でも多いのが食品班の容器の分別回収です。食品班が提供する食品の容器は、フィルム加工が施してあり容器と汚れた部分とを分けられるようになっています。その容器をお客さんから受け取り残飯等の処理をし、SCC付属委員が分別を行います。</p>
			<p class="blog-parlevel2-text">　また、SCC委員は来場者にゴミの分別を促すのも一つの役目です。</p>
			<p class="blog-parlevel2-text">　ゴミ箱は可燃・不燃・生ごみの三種類に分けられております。お手数ですが分別にはご協力お願します。</p>
		</div>
		<h2 class="blog-parlevel2-headline">４　最語に</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　ゴミ処理は広報のデザインや装飾などに比べてパッとしない仕事です。</p>
			<p class="blog-parlevel2-text">　しかし、文化祭の運営に絶対に欠かせないものであり、また非常に大変な作業です。来場された際にはほんの少しでいいので、そんな見えづらい努力の上にこの文化祭が成り立っていることを思い出してくれると嬉しいです。</p>
			<p class="blog-parlevel2-text">　来場者の方々が気持ちよく文化祭を楽しめるようSCC部門・SCC付属委員一同、全力で準備していますのでぜひ、文化祭にお越しください。心よりお待ちしております。<br></p>
		</div>		
		<div class="blog-prev">前の記事：<a href="../../blogs/blog_20171026-2">「メインビジュアルのおはなし」【連載】『文化祭のおはなし』第1回</a></div>
		<div class="blog-prev">次の記事：<a href="../../blogs/blog_20171027-2">「校内サインのおはなし」【連載】『文化祭のおはなし』第3回</a></div>
		<div class="back-to-top-blog"><a href="../blog">ブログのトップページへ戻る</a></div>
	</div>
</main>
<%- include("../components/_blog-footer.ejs") %>






