<% var pageName = "電波部門の仕事" %>
<%- include("../components/_blog-header.ejs",{pageName:pageName,path:"blogs/20171023-1"}) %>
<%- include("../components/_blog-menu.ejs",{pageId:"blog"}) %>
<main id="main" class="main-blog-content">
	<div class="blog-tag-name">【連載】『文実の仕事』第9回</div>
	<h1 class="blog-parlevel1-headline"><span><%= pageName %></span></h1>
	<div class="blog-parlevel1-content">
		<p class="blog-parlevel1-text">　どうも、電波部門長です。第九回目の今回は電波部門について紹介していきたいと思います。</p>
		<h2 class="blog-parlevel2-headline">電波部門とは？</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　電波、と聞くと携帯電話やスマートフォンの通信などを思い浮かべがちなものですが、筑駒文実の電波部門の仕事はそういったものに関する事とは少し違います。</p>
			<p class="blog-parlevel2-text">　電波部門の仕事は主に2つ。<br></p>
			<p class="blog-parlevel2-text">1つ目は各デコが使用する無線機器の把握と帯域の割り当て、2つ目は文実や各デコが使用するトランシーバーのレンタルです。</p>
		</div>
		<h2 class="blog-parlevel2-headline">1.帯域割り当て</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　毎年文化祭ではトランシーバーやWi-Fiルーター、マイクといった様々な無線機器が使用されています。</p>
			<p class="blog-parlevel2-text">　近年そういった無線機器の使用が増えてきたことで、電波干渉が問題になりました。そうしてできたのがこの電波部門なのです。</p>
			<p class="blog-parlevel2-text">　電波部門では、提出された無線機器についての書類を元に、各デコが使用してよい周波数帯域を割り当てます。</p>
			<p class="blog-parlevel2-text">　帯域とは電波の周波数の幅のことで、周波数帯が重なると電波干渉が起きるおそれがあります。</p>
			<p class="blog-parlevel2-text">　ですので、「〇〇班は周波数2.4GHz帯、△△部は5GHz帯を使ってくださいね」というふうに割り当てることで電波干渉を防いでいるのです。</p>
		</div>
		<h2 class="blog-parlevel2-headline">2.トランシーバーのレンタル</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　文化祭ではいくつかの団体がトランシーバーを使用しています。</p>
			<p class="blog-parlevel2-text">　例えば文実では、文化祭当日だけでなく、準備日や片付け日にも、トランシーバーが委員内での円滑な連絡に大きく貢献しています。トランシーバーは、文化祭の運営に必要不可欠なものだと言えるでしょう。</p>
			<p class="blog-parlevel2-text">　そんなトランシーバーを業者さんからレンタルするのが電波部門のもう一つの仕事です。<br></p>
			<p class="blog-parlevel2-text">　一つ目の仕事に比べると随分楽そうに思えますが、そうでもないんです。</p>
			<p class="blog-parlevel2-text">　団体内での調整がうまくできていなかった場合など、様々な事情でトランシーバーの使用台数が急遽変更になることも多く、使用調査を複数回する必要があります。<br>　業者さんにレンタルの見積もりをしていただいた後でレンタル台数が増える、などということになれば、校外の方に迷惑をかけてしまうことになります。</p>
			<p class="blog-parlevel2-text">　そうならないように、確実な把握と準備が求められる、責任重大な仕事なのです。</p>
		</div>
		<h2 class="blog-parlevel2-headline">おわりに</h2>
		<div class="blog-parlevel2-content">
			<p class="blog-parlevel2-text">　ここまでの連載を読んでくださった方の中にはこう思う人もいると思います。<br></p>
			<p class="blog-parlevel2-text">　「...電波部門の仕事、他の部門より少なくない...？」<br></p>
			<p class="blog-parlevel2-text">　そうです。でもそれには訳があるのです。<br></p>
			<p class="blog-parlevel2-text">　実は文実電波部門のメンバーは部門長一人なのです。</p>
			<p class="blog-parlevel2-text">　ですが、メンバーがいないというのはそれだけ自分の肩にかかる責任が重大だと思うので、より良い文化祭のために鋭意努力しています。<br><br></p>
			<p class="blog-parlevel2-text">　次回第10回は印刷部門のお仕事です。お楽しみに！</p>
		</div>		
		<div class="blog-prev">前の記事：<a href="../../blogs/blog_20171021">「電力部門の仕事」【連載】『文実の仕事』第8回</a></div>
		<div class="blog-prev">次の記事：<a href="../../blogs/blog_20171023-2">「印刷部門の仕事」【連載】『文実の仕事』第10回</a></div>
		<div class="back-to-top-blog"><a href="../blog">ブログのトップページへ戻る</a></div>
	</div>
</main>
<%- include("../components/_blog-footer.ejs") %>
